 
 <div class="overlay"></div>
 <!-- <app-header></app-header> -->
<section (window:resize)="onResize($event)">
    <aside id="leftsidebar" class="sidebar"> 

      <app-user-area></app-user-area>  
      <app-header></app-header>
        <app-sidenav-list></app-sidenav-list>
        <app-footer></app-footer>
    </aside>
 
   
</section>

<section class="content">
    <div class="container-fluid">
        <router-outlet></router-outlet>
    </div>
</section> 

<!-- <mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
       
    <section class="content">
      <div class="container-fluid">      
        <router-outlet></router-outlet>    
      </div>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-footer></app-footer> -->
