<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="card m-3">
    <h5 class="card-header text-center">Kıymet Bildirim Bilgileri</h5>
    <div class="card-body text-center">
      <mat-form-field>
        <mat-label> Beyanname No</mat-label>
        <input matInput readonly #BeyannameNo [(ngModel)]="beyanInternalNo" />
      </mat-form-field>

      <mat-cell [style.flex]="'0 0 250px'" *matCellDef="let element">
      </mat-cell>
      <mat-label>{{ beyanStatu }}</mat-label>

      <mat-menu #kiymetheaderMenu="matMenu">
        <button
          mat-menu-item
          (click)="yukleKiymet()"
          [disabled]="
            beyanStatu == ('Olusturuldu' || 'Güncellendi') ? false : true
          "
        >
          <mat-icon>refresh</mat-icon>
          <span>Listeyi Yenile</span>
        </button>
        <button
          mat-menu-item
          (click)="yeniKiymet()"
          [disabled]="
            beyanStatu == ('Olusturuldu' || 'Güncellendi') ? false : true
          "
        >
          <mat-icon>add</mat-icon>
          <span>Yeni Kiymet</span>
        </button>
        <button
          mat-menu-item
          (click)="duzeltKiymet()"
          [disabled]="
            beyanStatu == ('Olusturuldu' || 'Güncellendi') && kiymetInternalNo
              ? false
              : true
          "
        >
          <mat-icon>sync</mat-icon>
          <span>Kiymet Düzeltme</span>
        </button>
        <button
          mat-menu-item
          (click)="silKiymet(kiymetInternalNo)"
          [disabled]="
            beyanStatu == ('Olusturuldu' || 'Güncellendi') && kiymetInternalNo
              ? false
              : true
          "
        >
          <mat-icon>remove</mat-icon>
          <span>Kiymet Sil</span>
        </button>
      </mat-menu>

      <h6 class="card-header text-left">Kıymetler</h6>
      <div class="card m-2">
        <button
          mat-icon-button
          [matMenuTriggerFor]="kiymetheaderMenu"
          class="header-dropdown-mat-icon-button"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-selection-list #KiymetList multiple="false">
          <mat-list-option
            *ngFor="let kalem of _kiymetler; let i = index"
            [value]="kalem"
            [disableRipple]="true"
            (click)="getKiymet(kalem.kiymetInternalNo)"
          >
            <div
              style="
                display: flex;
                justify-content: space-between;
                align-items: center;
              "
            >
              <div style="display: flex; align-items: center;">
                <mat-icon matListAvatar>folder</mat-icon>
                <div style="display: flex; flex-direction: column;">
                  <h5 matLine>{{ i+1 }}</h5>
                  <!-- <p matLine>
                    {{ i }}
                  </p> -->
                </div>
              </div>
            </div>
          </mat-list-option> 
        </mat-selection-list>
      </div>
      <form [formGroup]="kiymetForm" >
        <mat-card class="mat-card">
          <mat-tab-group>
            <div class="example-box">
            <mat-tab label="Kıymet Bilgiler">          
                <div class="form-row">               
                  <div class="form-group col">
                    <mat-form-field>
                      <mat-label>Alıcı Satıcı İlişkisi</mat-label>
                      <select
                        matNativeControl
                        formControlName="aliciSatici"
                        class="form-control"
                        [ngClass]="{
                          'is-invalid': submitted && focus.aliciSatici.errors
                        }"
                      >
                        <option *ngFor="let g of _aliciSaticiList" [value]="g.kod">{{
                          g.kod
                        }} {{g.aciklama}}</option>
                      </select>
                      <div
                        *ngIf="submitted && focus.aliciSatici.errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="focus.aliciSatici.errors.required">
                          Alıcı Satıcı İlişkisi Zorunlu
                        </div>
                      </div>
                    </mat-form-field>
                  </div>
                  <div class="form-group col">
                    <mat-form-field>
                      <mat-label>Teslim Şekli</mat-label>
                      <select
                        matNativeControl
                        formControlName="teslimSekli"
                        class="form-control"
                        [ngClass]="{
                          'is-invalid': submitted && focus.teslimSekli.errors
                        }"
                      >
                        <option *ngFor="let g of _teslimList" [value]="g.kod">{{
                          g.kod
                        }} </option>
                      </select>
                      <div
                        *ngIf="submitted && focus.teslimSekli.errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="focus.aliciSatici.errors.required">
                          Alıcı Satıcı İlişkisi Zorunlu
                        </div>
                      </div>
                    </mat-form-field>
                  </div>
                  <div class="form-group col">
                    <mat-form-field>
                      <mat-label>Edim</mat-label>
                      <select
                        matNativeControl
                        formControlName="edim"
                        class="form-control"
                        [ngClass]="{
                          'is-invalid':
                            submitted && focus.edim.errors
                        }"
                      >
                      <option value=""></option>
                      <option value="Evet">Evet</option>
                      <option value="Hayir">Hayır</option>
                     
                        >
                      </select>
                      <div
                        *ngIf="submitted && focus.edim.errors"
                        class="invalid-feedback"
                      ></div>
                    </mat-form-field>
                  </div>
                  <div class="form-group col">
                    <mat-form-field>
                      <mat-label>Emsal</mat-label>
                      <select
                        matNativeControl
                        formControlName="emsal"
                        class="form-control"
                        [ngClass]="{
                          'is-invalid': submitted && focus.emsal.errors
                        }"
                      >
                      <option value=""></option>
                      <option value="Evet">Evet</option>
                      <option value="Hayir">Hayır</option>
                        >
                      </select>
                      <div
                        *ngIf="submitted && focus.emsal.errors"
                        class="invalid-feedback"
                      ></div>
                    </mat-form-field>
                  </div>    
                  <div class="form-group col">
                    <mat-form-field>
                      <mat-label>Kısıtlamalar</mat-label>
                      <select
                        matNativeControl
                        formControlName="kisitlamalar"
                        class="form-control"
                        (change)="kisitlamaSelect($event.target.value)"
                        [ngClass]="{
                          'is-invalid': submitted && focus.kisitlamalar.errors
                        }"
                      >
                      <option value=""></option>
                      <option value="Evet">Evet</option>
                      <option value="Hayir">Hayır</option>
                        >
                      </select>
                      <div
                        *ngIf="submitted && focus.kisitlamalar.errors"
                        class="invalid-feedback"
                      ></div>
                    </mat-form-field>
                  </div>     
                  <div class="form-group col">
                    <mat-form-field>
                      <mat-label>Satıcıya İntikal</mat-label>
                      <select
                        matNativeControl
                        formControlName="saticiyaIntikal"
                        class="form-control"
                        (change)="saticiyaIntikalSelect($event.target.value)"
                        [ngClass]="{
                          'is-invalid': submitted && focus.saticiyaIntikal.errors
                        }"
                      >
                      <option value=""></option>
                      <option value="Evet">Evet</option>
                      <option value="Hayir">Hayır</option>
                        >
                      </select>
                      <div
                        *ngIf="submitted && focus.saticiyaIntikal.errors"
                        class="invalid-feedback"
                      ></div>
                    </mat-form-field>
                  </div>              
                  <div class="form-group col">
                    <mat-form-field>
                      <mat-label>Royalti</mat-label>
                      <select
                        matNativeControl
                        formControlName="royalti"
                        class="form-control"
                        (change)="royaltiSelect($event.target.value)"
                        [ngClass]="{
                          'is-invalid': submitted && focus.royalti.errors
                        }"
                      >
                      <option value=""></option>
                      <option value="Evet">Evet</option>
                      <option value="Hayir">Hayır</option>
                        >
                      </select>
                      <div
                        *ngIf="submitted && focus.royalti.errors"
                        class="invalid-feedback"
                      ></div>
                    </mat-form-field>
                  </div>    
                  <div class="form-group col">
                    <mat-form-field>
                      <mat-label>Münasebet</mat-label>
                      <select
                        matNativeControl
                        formControlName="munasebet"
                        class="form-control"
                        [ngClass]="{
                          'is-invalid': submitted && focus.munasebet.errors
                        }"
                      >
                      <option value=""></option>
                      <option value="Evet">Evet</option>
                      <option value="Hayir">Hayır</option>
                        >
                      </select>
                      <div
                        *ngIf="submitted && focus.munasebet.errors"
                        class="invalid-feedback"
                      ></div>
                    </mat-form-field>
                  </div>     
                  <div class="card m-2">
                    <div class="form-group col">
                      <mat-form-field>
                      <mat-label>Giriş Fatura Tarih Sayısı </mat-label>
                      <textarea
                      matInput
                        type="text"
                        rows="3"
                        formControlName="faturaTarihiSayisi"
                        class="form-control"
                        [ngClass]="{
                          'is-invalid':
                            submitted && focus.faturaTarihiSayisi.errors
                        }"
                      ></textarea>
  
                      <div
                        *ngIf="submitted && focus.faturaTarihiSayisi.errors"
                        class="invalid-feedback"
                      ></div>
                    </mat-form-field>
                    </div>
                  </div>  
                  <div class="card m-2">
                    <div class="form-group col">
                      <mat-form-field>
                      <mat-label>Gümrük İdaresi Kararı</mat-label>
                      <textarea
                      matInput
                        type="text"
                        rows="3"
                        formControlName="gumrukIdaresiKarari"
                        class="form-control"
                        [ngClass]="{
                          'is-invalid':
                            submitted && focus.gumrukIdaresiKarari.errors
                        }"
                      ></textarea>
  
                      <div
                        *ngIf="submitted && focus.gumrukIdaresiKarari.errors"
                        class="invalid-feedback"
                      ></div>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="card m-2">
                    <div class="form-group col">
                      <mat-form-field>
                      <mat-label>Sözleşme Tarih ve Sayısı</mat-label>
                      <textarea
                      matInput
                        type="text"
                        rows="3"
                        formControlName="sozlesmeTarihiSayisi"
                        class="form-control"
                        [ngClass]="{
                          'is-invalid': submitted && focus.sozlesmeTarihiSayisi.errors
                        }"
                      ></textarea>
  
                      <div
                        *ngIf="submitted && focus.sozlesmeTarihiSayisi.errors"
                        class="invalid-feedback"
                      ></div>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="card m-2">
                    <div class="form-group col">
                      <mat-form-field>
                      <mat-label>Kısıtlama Ayrıntıları</mat-label>
                      <textarea
                      matInput
                        type="text"
                        rows="3"
                        formControlName="kisitlamalarAyrintilar"
                        class="form-control"
                        [ngClass]="{
                          'is-invalid': submitted && focus.kisitlamalarAyrintilar.errors
                        }"
                      ></textarea>
  
                      <div
                        *ngIf="submitted && focus.kisitlamalarAyrintilar.errors"
                        class="invalid-feedback"
                      ></div>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="card m-2">
                    <div class="form-group col">
                      <mat-form-field>
                      <mat-label>Satıcıya İntikal Koşulları</mat-label>
                      <textarea
                      matInput
                        type="text"
                        rows="3"
                        formControlName="saticiyaIntikalKosullar"
                        class="form-control"
                        [ngClass]="{
                          'is-invalid': submitted && focus.saticiyaIntikalKosullar.errors
                        }"
                      ></textarea>
  
                      <div
                        *ngIf="submitted && focus.saticiyaIntikalKosullar.errors"
                        class="invalid-feedback"
                      ></div>
                      </mat-form-field>
                    </div>
                  </div>
                   <div class="card m-2">
                    <div class="form-group col">
                      <mat-form-field>
                      <mat-label>Royalti Koşulları</mat-label>
                      <textarea
                      matInput
                        type="text"
                        rows="3"
                        formControlName="royaltiKosullar"
                        class="form-control"
                        [ngClass]="{
                          'is-invalid': submitted && focus.royaltiKosullar.errors
                        }"
                      ></textarea>
  
                      <div
                        *ngIf="submitted && focus.royaltiKosullar.errors"
                        class="invalid-feedback"
                      ></div>
                      </mat-form-field>
                    </div>
                  </div>
                   <div class="card m-2">
                    <div class="form-group col">
                      <mat-form-field>
                      <mat-label>Şehir Yer</mat-label>
                      <textarea
                      matInput
                        type="text"
                        rows="3"
                        formControlName="sehirYer"
                        class="form-control"
                        [ngClass]="{
                          'is-invalid': submitted && focus.sehirYer.errors
                        }"
                      ></textarea>
  
                      <div
                        *ngIf="submitted && focus.sehirYer.errors"
                        class="invalid-feedback"
                      ></div>
                      </mat-form-field>
                    </div>
                  </div>     
                  <div class="form-group col">
                    <div class="form-group form-check">
                      <input
                        type="checkbox"
                        formControlName="taahhutname"
                        id="taahhutname"
                        class="form-check-input"
                        [ngClass]="{
                          'is-invalid': submitted && focus.taahhutname.errors
                        }"
                      />
                      <mat-label for="taahhutname" class="form-check-label"
                        >Taahhütname(Okudum)</mat-label
                      >
                    </div>
                  </div>       
                </div>
            </mat-tab> 
            <mat-tab label="Kıymet Kalem Bilgiler">
              <form [formGroup]="kalemForm" novalidate>
                <div
                  fxLayout="row"
                  fxLayout.xs="column"
                  fxLayoutWrap
                  fxLayoutGap="3.5%"
                  fxLayoutAlign="left"
                >
                  <mat-card formArrayName="kalemArry"
                    ><mat-card-title>Kalem Bilgileri</mat-card-title
                    ><mat-divider></mat-divider>

                    <div
                      *ngFor="
                        let unit of kalemBilgileri.controls;
                        let i = index
                      "
                    >
                      <div [formGroupName]="i">
                        <div
                          fxLayout="row"
                          fxLayout.xs="column"
                          fxLayoutWrap
                          fxLayoutGap="3.5%"
                          fxLayoutAlign="center"
                        >
                        <mat-form-field fxFlex="30%">
                          <input
                          readonly
                            matNativeControl
                            type="text"
                            placeholder="Kalem No"
                            formControlName="kiymetKalemNo"
                          /></mat-form-field>
                          
                          <mat-form-field fxFlex="30%">
                            <input
                              matNativeControl
                              type="text"
                              placeholder="Beyanname Kalem No"
                              formControlName="beyannameKalemNo"
                            />
                          </mat-form-field>
                          <mat-form-field fxFlex="30%">
                            <input
                              matNativeControl
                              type="text"
                              placeholder="Diğer Ödemeler"
                              formControlName="digerOdemeler"
                            />
                          </mat-form-field>
                          <mat-form-field fxFlex="30%">
                            <input
                              matNativeControl
                              type="text"
                              placeholder="Diğer Ödemeler Niteliği"
                              formControlName="digerOdemelerNiteligi"
                            />
                          </mat-form-field>
                          <mat-form-field fxFlex="30%">
                            <input
                              matNativeControl
                              type="text"
                              placeholder="Dolaylı İntikal"
                              formControlName="dolayliIntikal"
                            />
                          </mat-form-field>
                        
                          <mat-form-field fxFlex="30%">
                            <input
                              matNativeControl
                              type="text"
                              placeholder="Dolaylı Ödeme"
                              formControlName="dolayliOdeme"
                            />
                          </mat-form-field>
                          <mat-form-field fxFlex="30%">
                            <input
                              matNativeControl
                              type="text"
                              placeholder="Giriş Sonrası Nakliye"
                              formControlName="girisSonrasiNakliye"
                            />
                          </mat-form-field>
                          <mat-form-field fxFlex="30%">
                            <input
                              matNativeControl
                              type="text"
                              placeholder="İthala Katılan Malzeme"
                              formControlName="ithalaKatilanMalzeme"
                            />
                          </mat-form-field>
                          <mat-form-field fxFlex="30%">
                            <input
                              matNativeControl
                              type="text"
                              placeholder="İthala Üretim Araçları"
                              formControlName="ithalaUretimAraclar"
                            />
                          </mat-form-field>
                          <mat-form-field fxFlex="30%">
                            <input
                              matNativeControl
                              type="text"
                              placeholder="İthala Üretim Tüketim Malzemesi"
                              formControlName="ithalaUretimTuketimMalzemesi"
                            />
                          </mat-form-field>
                          <mat-form-field fxFlex="30%">
                            <input
                              matNativeControl
                              type="text"
                              placeholder="Kap Ambalaj"
                              formControlName="kapAmbalajBedeli"
                            />
                          </mat-form-field>
                          <mat-form-field fxFlex="30%">
                            <input
                              matNativeControl
                              type="text"
                              placeholder="Komisyon"
                              formControlName="komisyon"
                            />
                          </mat-form-field>

                          <mat-form-field fxFlex="30%">
                            <input
                              matNativeControl
                              type="text"
                              placeholder="Nakliye"
                              formControlName="nakliye"
                            />
                          </mat-form-field>
                          <mat-form-field fxFlex="30%">
                            <input
                              matNativeControl
                              type="text"
                              placeholder="Plan Taslak"
                              formControlName="planTaslak"
                            />
                          </mat-form-field>
                          <mat-form-field fxFlex="30%">
                            <input
                              matNativeControl
                              type="text"
                              placeholder="Royalti Lisans"
                              formControlName="royaltiLisans"
                            />
                          </mat-form-field>
                          <mat-form-field fxFlex="30%">
                            <input
                              matNativeControl
                              type="text"
                              placeholder="Sigorta"
                              formControlName="sigorta"
                            />
                          </mat-form-field>
                          <mat-form-field fxFlex="30%">
                            <input
                              matNativeControl
                              type="text"
                              placeholder="Teknik Yardım"
                              formControlName="teknikYardim"
                            />
                          </mat-form-field>
                          <mat-form-field fxFlex="30%">
                            <input
                              matNativeControl
                              type="text"
                              placeholder="Tellaliye"
                              formControlName="tellaliye"
                            />
                          </mat-form-field>
                          <mat-form-field fxFlex="30%">
                            <input
                              matNativeControl
                              type="text"
                              placeholder="Vergi Harç Fon"
                              formControlName="vergiHarcFon"
                            />
                          </mat-form-field>
                          <button
                            mat-mini-fab
                            color="warn"
                            [disabled]="!kiymetForm.valid"
                            (click)="deleteKalemField(i)"
                          >
                            <mat-icon>delete forever</mat-icon>
                          </button>
                        </div>
                      </div>
                      <mat-list-item  *ngIf="kalemBilgileri.controls.length > 0 ">
                        <p mat-line > {{i+1}} </p>
                       <mat-divider [inset]="true" *ngIf="kalemBilgileri.controls.length !=i+1" ></mat-divider>
                    </mat-list-item>
                    </div>

                    <mat-divider></mat-divider
                    ><mat-card-actions
                      ><button
                        [disabled]="!kiymetForm.valid"
                        mat-raised-button
                        (click)="addKalemField()"
                      >
                        <mat-icon>add box</mat-icon>
                        Kıymet Kalemi Ekle
                      </button></mat-card-actions
                    ></mat-card
                  >
                  <div></div>
                </div>
              </form>
            </mat-tab>
          </div>
          </mat-tab-group>  
        </mat-card>
        <div class="text-right">
          <button [disabled]="!(kiymetForm.valid &&  kalemBilgileri.valid)" class="btn btn-primary mr-1" (click)="onkiymetFormSubmit()">
            Kaydet
          </button>
          <!-- <button class="btn btn-secondary" type="reset" (click)="onReset()">
            İptal
          </button> -->
        </div>
      </form>
    </div>
  </div>
</div>
