<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="card m-3">
    <h5 class="card-header text-center">Kıymet Bildirim Bilgileri</h5>
    <div class="card-body text-center">
      <mat-form-field>
        <mat-label>Geçici Beyanname No</mat-label>
        <input matInput readonly #BeyannameNo [(ngModel)]="beyanInternalNo" />
      </mat-form-field>

      <mat-cell [style.flex]="'0 0 250px'" *matCellDef="let element">
      </mat-cell>
      <mat-label>{{ beyanStatu }}</mat-label>

      <mat-menu #kiymetheaderMenu="matMenu">
        <button
          mat-menu-item
          (click)="yukleKiymet()"
          [disabled]="
            beyanStatu !== ('Olusturuldu' || 'Güncellendi') ? false : true
          "
        >
          <mat-icon>refresh</mat-icon>
          <span>Listeyi Yenile</span>
        </button>
        <button
          mat-menu-item
          (click)="yeniKiymet()"
          [disabled]="
            beyanStatu !== ('Olusturuldu' || 'Güncellendi') ? false : true
          "
        >
          <mat-icon>add</mat-icon>
          <span>Yeni Kiymet</span>
        </button>
        <button
          mat-menu-item
          (click)="duzeltKiymet()"
          [disabled]="
            beyanStatu !== ('Olusturuldu' || 'Güncellendi') && kiymetInternalNo
              ? false
              : true
          "
        >
          <mat-icon>sync</mat-icon>
          <span>Kiymet Düzeltme</span>
        </button>
        <button
          mat-menu-item
          (click)="silKiymet(kiymetInternalNo)"
          [disabled]="
            beyanStatu !== ('Olusturuldu' || 'Güncellendi') && kiymetInternalNo
              ? false
              : true
          "
        >
          <mat-icon>remove</mat-icon>
          <span>Kiymet Sil</span>
        </button>
      </mat-menu>

      <h6 class="card-header text-left">Kıymetler</h6>
      <div class="card m-2">
        <button
          mat-icon-button
          [matMenuTriggerFor]="kiymetheaderMenu"
          class="header-dropdown-mat-icon-button"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-selection-list #KiymetList multiple="false">
          <mat-list-option
            *ngFor="let kalem of _kiymetler; let i = index"
            [value]="kalem"
            [disableRipple]="true"
            (click)="getKiymet(kalem.kiymetInternalNo)"
          >
            <div
              style="
                display: flex;
                justify-content: space-between;
                align-items: center;
              "
            >
              <div style="display: flex; align-items: center;">
                <mat-icon matListAvatar>folder</mat-icon>
                <div style="display: flex; flex-direction: column;">
                  <h5 matLine>{{ i+1 }}</h5>
                  <!-- <p matLine>
                    {{ i }}
                  </p> -->
                </div>
              </div>
            </div>
          </mat-list-option> 
        </mat-selection-list>
      </div>
      <form [formGroup]="kiymetForm" >
        <mat-card class="mat-card">
          <div class="example-box">
                <div class="form-row">               
                  <div class="form-group col">
                    <mat-form-field>
                      <mat-label>Alıcı Satıcı İlişkisi</mat-label>
                      <select
                        matNativeControl
                        formControlName="aliciSatici"
                        class="form-control"
                        [ngClass]="{
                          'is-invalid': submitted && focus.aliciSatici.errors
                        }"
                      >
                        <option *ngFor="let g of _aliciSaticiList" [value]="g.kod">{{
                          g.kod
                        }} {{g.aciklama}}</option>
                      </select>
                      <div
                        *ngIf="submitted && focus.aliciSatici.errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="focus.aliciSatici.errors.required">
                          Alıcı Satıcı İlişkisi Zorunlu
                        </div>
                      </div>
                    </mat-form-field>
                  </div>
                  <div class="form-group col">
                    <mat-form-field>
                      <mat-label>Teslim Şekli</mat-label>
                      <select
                        matNativeControl
                        formControlName="teslimSekli"
                        class="form-control"
                        [ngClass]="{
                          'is-invalid': submitted && focus.teslimSekli.errors
                        }"
                      >
                        <option *ngFor="let g of _teslimList" [value]="g.kod">{{
                          g.kod
                        }} </option>
                      </select>
                      <div
                        *ngIf="submitted && focus.teslimSekli.errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="focus.aliciSatici.errors.required">
                          Alıcı Satıcı İlişkisi Zorunlu
                        </div>
                      </div>
                    </mat-form-field>
                  </div>
                  <div class="form-group col">
                    <mat-form-field>
                      <mat-label>Edim</mat-label>
                      <select
                        matNativeControl
                        formControlName="edim"
                        class="form-control"
                        [ngClass]="{
                          'is-invalid':
                            submitted && focus.edim.errors
                        }"
                      >
                      <option value=""></option>
                      <option value="Evet">Evet</option>
                      <option value="Hayir">Hayır</option>
                     
                        >
                      </select>
                      <div
                        *ngIf="submitted && focus.edim.errors"
                        class="invalid-feedback"
                      ></div>
                    </mat-form-field>
                  </div>
                  <div class="form-group col">
                    <mat-form-field>
                      <mat-label>Emsal</mat-label>
                      <select
                        matNativeControl
                        formControlName="emsal"
                        class="form-control"
                        [ngClass]="{
                          'is-invalid': submitted && focus.emsal.errors
                        }"
                      >
                      <option value=""></option>
                      <option value="Evet">Evet</option>
                      <option value="Hayir">Hayır</option>
                        >
                      </select>
                      <div
                        *ngIf="submitted && focus.emsal.errors"
                        class="invalid-feedback"
                      ></div>
                    </mat-form-field>
                  </div>    
                  <div class="form-group col">
                    <mat-form-field>
                      <mat-label>Kısıtlamalar</mat-label>
                      <select
                        matNativeControl
                        formControlName="kisitlamalar"
                        class="form-control"
                        [ngClass]="{
                          'is-invalid': submitted && focus.kisitlamalar.errors
                        }"
                      >
                      <option value=""></option>
                      <option value="Evet">Evet</option>
                      <option value="Hayir">Hayır</option>
                        >
                      </select>
                      <div
                        *ngIf="submitted && focus.kisitlamalar.errors"
                        class="invalid-feedback"
                      ></div>
                    </mat-form-field>
                  </div>             
                  <div class="form-group col">
                    <mat-form-field>
                      <mat-label>Münasebet</mat-label>
                      <select
                        matNativeControl
                        formControlName="munasebet"
                        class="form-control"
                        [ngClass]="{
                          'is-invalid': submitted && focus.munasebet.errors
                        }"
                      >
                      <option value=""></option>
                      <option value="Evet">Evet</option>
                      <option value="Hayir">Hayır</option>
                        >
                      </select>
                      <div
                        *ngIf="submitted && focus.munasebet.errors"
                        class="invalid-feedback"
                      ></div>
                    </mat-form-field>
                  </div>     
                  <div class="form-group col">
                    <mat-form-field>
                      <mat-label>Royalti</mat-label>
                      <select
                        matNativeControl
                        formControlName="royalti"
                        class="form-control"
                        [ngClass]="{
                          'is-invalid': submitted && focus.royalti.errors
                        }"
                      >
                      <option value=""></option>
                      <option value="Evet">Evet</option>
                      <option value="Hayir">Hayır</option>
                        >
                      </select>
                      <div
                        *ngIf="submitted && focus.royalti.errors"
                        class="invalid-feedback"
                      ></div>
                    </mat-form-field>
                  </div>    
                  <div class="form-group col">
                    <mat-form-field>
                      <mat-label>Satıcıya İntikal</mat-label>
                      <select
                        matNativeControl
                        formControlName="saticiyaIntikal"
                        class="form-control"
                        [ngClass]="{
                          'is-invalid': submitted && focus.saticiyaIntikal.errors
                        }"
                      >
                      <option value=""></option>
                      <option value="Evet">Evet</option>
                      <option value="Hayir">Hayır</option>
                        >
                      </select>
                      <div
                        *ngIf="submitted && focus.saticiyaIntikal.errors"
                        class="invalid-feedback"
                      ></div>
                    </mat-form-field>
                  </div>    
                  <div class="card m-2">
                    <div class="form-group col">
                      <mat-label>Giriş Fatura Tarih Sayısı </mat-label>
                      <textarea
                        type="text"
                        rows="3"
                        formControlName="faturaTarihiSayisi"
                        class="form-control"
                        [ngClass]="{
                          'is-invalid':
                            submitted && focus.faturaTarihiSayisi.errors
                        }"
                      ></textarea>
  
                      <div
                        *ngIf="submitted && focus.faturaTarihiSayisi.errors"
                        class="invalid-feedback"
                      ></div>
                    </div>
                  </div>
                  <div class="card m-2">
                    <div class="form-group col">
                      <mat-label>Gümrük İdaresi Kararı</mat-label>
                      <textarea
                        type="text"
                        rows="3"
                        formControlName="gumrukIdaresiKarari"
                        class="form-control"
                        [ngClass]="{
                          'is-invalid':
                            submitted && focus.gumrukIdaresiKarari.errors
                        }"
                      ></textarea>
  
                      <div
                        *ngIf="submitted && focus.gumrukIdaresiKarari.errors"
                        class="invalid-feedback"
                      ></div>
                    </div>
                  </div>
                  <div class="card m-2">
                    <div class="form-group col">
                      <mat-label>Kısıtlama Ayrıntıları</mat-label>
                      <textarea
                        type="text"
                        rows="3"
                        formControlName="kisitlamalarAyrintilar"
                        class="form-control"
                        [ngClass]="{
                          'is-invalid': submitted && focus.kisitlamalarAyrintilar.errors
                        }"
                      ></textarea>
  
                      <div
                        *ngIf="submitted && focus.kisitlamalarAyrintilar.errors"
                        class="invalid-feedback"
                      ></div>
                    </div>
                  </div>
                   <div class="card m-2">
                    <div class="form-group col">
                      <mat-label>Royalti Koşulları</mat-label>
                      <textarea
                        type="text"
                        rows="3"
                        formControlName="royaltiKosullar"
                        class="form-control"
                        [ngClass]="{
                          'is-invalid': submitted && focus.royaltiKosullar.errors
                        }"
                      ></textarea>
  
                      <div
                        *ngIf="submitted && focus.royaltiKosullar.errors"
                        class="invalid-feedback"
                      ></div>
                    </div>
                  </div>
                   <div class="card m-2">
                    <div class="form-group col">
                      <mat-label>Satıcıya İntikal Koşulları</mat-label>
                      <textarea
                        type="text"
                        rows="3"
                        formControlName="saticiyaIntikalKosullar"
                        class="form-control"
                        [ngClass]="{
                          'is-invalid': submitted && focus.saticiyaIntikalKosullar.errors
                        }"
                      ></textarea>
  
                      <div
                        *ngIf="submitted && focus.saticiyaIntikalKosullar.errors"
                        class="invalid-feedback"
                      ></div>
                    </div>
                  </div>
                   <div class="card m-2">
                    <div class="form-group col">
                      <mat-label>Sözleşme Tarih ve Sayısı</mat-label>
                      <textarea
                        type="text"
                        rows="3"
                        formControlName="sozlesmeTarihiSayisi"
                        class="form-control"
                        [ngClass]="{
                          'is-invalid': submitted && focus.sozlesmeTarihiSayisi.errors
                        }"
                      ></textarea>
  
                      <div
                        *ngIf="submitted && focus.sozlesmeTarihiSayisi.errors"
                        class="invalid-feedback"
                      ></div>
                    </div>
                  </div>
                   <div class="card m-2">
                    <div class="form-group col">
                      <mat-label>Şehir Yer</mat-label>
                      <textarea
                        type="text"
                        rows="3"
                        formControlName="sehirYer"
                        class="form-control"
                        [ngClass]="{
                          'is-invalid': submitted && focus.sehirYer.errors
                        }"
                      ></textarea>
  
                      <div
                        *ngIf="submitted && focus.sehirYer.errors"
                        class="invalid-feedback"
                      ></div>
                    </div>
                  </div>     
                  <div class="form-group col">
                    <div class="form-group form-check">
                      <input
                        type="checkbox"
                        formControlName="taahhutname"
                        id="taahhutname"
                        class="form-check-input"
                        [ngClass]="{
                          'is-invalid': submitted && focus.taahhutname.errors
                        }"
                      />
                      <mat-label for="taahhutname" class="form-check-label"
                        >Taahhütname(Okudum)</mat-label
                      >
                    </div>
                  </div>       
                </div>                    
          </div>
        </mat-card>
        <div class="text-right">
          <button [disabled]="!kiymetForm.valid" class="btn btn-primary mr-1" (click)="onkiymetFormSubmit()">
            Kaydet
          </button>
          <!-- <button class="btn btn-secondary" type="reset" (click)="onReset()">
            İptal
          </button> -->
        </div>
      </form>
    </div>
  </div>
</div>
