<div class="row">  
    <div>     
      <mat-menu #kalemheaderMenu="matMenu">
        <button
          mat-menu-item
          (click)="yukleKalemler()"
          [disabled]="
          !BeyanStatu
          "
        >
          <mat-icon>refresh</mat-icon>
          <span>Listeyi Yenile</span>
        </button>
        <button
          mat-menu-item
          (click)="yeniKalem()"
          [disabled]="
          !BeyanStatu
          "
        >
          <mat-icon>add</mat-icon>
          <span>Yeni Kalem</span>
        </button>
        <button
          mat-menu-item
          (click)="duzeltKalem()"
          [hidden]="!BeyanSilDuzeltStatu"
        >
          <mat-icon>sync</mat-icon>
          <span>Kalem Düzeltme</span>
        </button>
        <button
          mat-menu-item
          (click)="silKalem(kalemInternalNo,sentNo)"
          [hidden]="!BeyanSilDuzeltStatu"
        >
          <mat-icon>remove</mat-icon>
          <span>Kalem Sil</span>
        </button>
      </mat-menu>
      <h6 class="card-header text-left">Kalemlerler</h6>
      
      <div class="card m-2">
        <button 
          mat-icon-button
          [matMenuTriggerFor]="kalemheaderMenu"
          class="header-dropdown-mat-icon-button"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-selection-list #SenetList multiple="false">
          
          <mat-list-option
            *ngFor="let kalem of _kalemler"
            [value]="kalem"
            [disableRipple]="true"
            (click)="getKalem(kalem.kalemSiraNo)"
          >
            <div
              style="
                display: flex;
                justify-content: space-between;
                align-items: center;
              "
            >
              <div style="display: flex; align-items: center;">
                <mat-icon matListAvatar>folder</mat-icon>
                <div style="display: flex; flex-direction: column;">
                  <h5 matLine>{{ kalem.kalemSiraNo }}</h5>
                  <p matLine>
                    {{ kalem.tasimaSenediNo }}
                  </p>
                </div>
              </div>
            </div>
          </mat-list-option>
       
        </mat-selection-list>
     
      </div>
    </div>
    <div class="card m-3" style="width: 75%;">       
     
        <h6 class="card-header text-center">Kalem Bilgileri</h6>
        <div class="card-body text-center">     
            <mat-label>Beyanname No</mat-label>
            <input class="islem-no" matInput readonly #BeyannameNo [(ngModel)]="nctsBeyanInternalNo" />
          
          <mat-label>{{ beyanStatu }}</mat-label>
          <form [formGroup]="kalemForm">
            <mat-card class="mat-card">
              <mat-tab-group>
               
                <mat-tab label="Genel Bilgiler">
                  <div class="form-row">
                    <div class="form-group col">
                      <mat-form-field>
                        <mat-label>Kalem Sıra No</mat-label>
                        <input
                          readonly
                          matNativeControl
                          type="text"
                          formControlName="kalemSiraNo"
                          
                          [ngClass]="{
                            'is-invalid': submitted && focus.kalemSiraNo.errors
                          }"
                        />
                        <div
                          *ngIf="submitted && focus.kalemSiraNo.errors"
                          class="invalid-feedback"
                        ></div>
                      </mat-form-field>
                    </div>
                    <div class="form-group col">
                      <mat-form-field>
                        <mat-label>Gtip</mat-label>
                        <input
                          matNativeControl
                          type="text"
                          formControlName="gtip"
                          
                          [ngClass]="{
                            'is-invalid': submitted && focus.gtip.errors
                          }"
                        />
                        <div
                          *ngIf="submitted && focus.gtip.errors"
                          class="invalid-feedback"
                        >
                        <div *ngIf="focus.gtip.errors.required">
                          Gtip Zorunlu
                        </div></div>
                      </mat-form-field>
                    </div>      
                    <div class="card m-2">
                      <div class="form-group col">
                        <mat-form-field>
                          <mat-label>Ticari Tanım</mat-label>
                          <input
                            matNativeControl
                            type="text"
                            formControlName="ticariTanim"
                            
                            [ngClass]="{
                              'is-invalid': submitted && focus.ticariTanim.errors
                            }"
                          />
                          <div
                            *ngIf="submitted && focus.ticariTanim.errors"
                            class="invalid-feedback"
                          ></div>
                        </mat-form-field>
                      </div>
                      <div class="form-group col">
                        <mat-label>Dil </mat-label>
                        <select
                          matNativeControl
                          formControlName="ticariTanimDil"                          
                          [ngClass]="{
                            'is-invalid': submitted && focus.ticariTanimDil.errors
                          }"
                        >
                          <option *ngFor="let g of _dilList" [value]="g.kod">{{
                            g.kod
                          }} {{g.aciklama}}</option>
                        </select>
                        <div
                          *ngIf="submitted && focus.ticariTanimDil.errors"
                          class="invalid-feedback"
                        ></div>
                      </div>
                     
                    </div>
                    <div class="card m-2">
                      <div class="form-group col">
                        <mat-label>Kıymet Dövizi </mat-label>
                        <select
                          matNativeControl
                          formControlName="kiymetDoviz"                          
                          [ngClass]="{
                            'is-invalid': submitted && focus.kiymetDoviz.errors
                          }"
                        >
                          <option *ngFor="let g of _dovizList" [value]="g.kod">{{
                            g.kod
                          }} {{g.aciklama}}</option>
                        </select>
                        <div
                          *ngIf="submitted && focus.kiymetDoviz.errors"
                          class="invalid-feedback"
                        ></div>
                      </div>
                      <div class="form-group col">
                        <mat-form-field>
                          <mat-label>Kıymet</mat-label>
                          <input
                            matNativeControl
                            type="text"
                            formControlName="kiymet"
                            
                            [ngClass]="{
                              'is-invalid': submitted && focus.kiymet.errors
                            }"
                          />
                          <div
                            *ngIf="submitted && focus.kiymet.errors"
                            class="invalid-feedback"
                          ></div>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="card m-2">
                     
                      <div class="form-group col">
                        <mat-form-field>
                          <mat-label>Brüt Ağırlık</mat-label>
                          <input
                            matNativeControl
                            type="text"
                            formControlName="burutAgirlik"
                            
                            [ngClass]="{
                              'is-invalid': submitted && focus.burutAgirlik.errors
                            }"
                          />
                          <div
                            *ngIf="submitted && focus.burutAgirlik.errors"
                            class="invalid-feedback"
                          >  <div *ngIf="focus.burutAgirlik.errors.required">
                            Brüt Ağırlık Zorunlu
                          </div></div>
                        </mat-form-field>
                      </div>
                      <div class="form-group col">
                        <mat-form-field>
                          <mat-label>Net Ağırlık</mat-label>
                          <input
                            matNativeControl
                            type="text"
                            formControlName="netAgirlik"
                            
                            [ngClass]="{
                              'is-invalid': submitted && focus.netAgirlik.errors
                            }"
                          />
                          <div
                            *ngIf="submitted && focus.netAgirlik.errors"
                            class="invalid-feedback"
                          >  </div>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="form-group col">
                      <mat-label>Varış Ülkesi </mat-label>
                      <select
                        matNativeControl
                        formControlName="varisUlkesi"                          
                        [ngClass]="{
                          'is-invalid': submitted && focus.varisUlkesi.errors
                        }"
                      >
                        <option *ngFor="let g of _ulkeList" [value]="g.kod">{{
                          g.kod
                        }} {{g.aciklama}}</option>
                      </select>
                      <div
                        *ngIf="submitted && focus.varisUlkesi.errors"
                        class="invalid-feedback"
                      ></div>
                    </div>
                    <div class="form-group col">
                      <mat-label>Çıkış Ülkesi </mat-label>
                      <select
                        matNativeControl
                        formControlName="cikisUlkesi"                          
                        [ngClass]="{
                          'is-invalid': submitted && focus.cikisUlkesi.errors
                        }"
                      >
                        <option *ngFor="let g of _ulkeList" [value]="g.kod">{{
                          g.kod
                        }} {{g.aciklama}}</option>
                      </select>
                      <div
                        *ngIf="submitted && focus.cikisUlkesi.errors"
                        class="invalid-feedback"
                      ></div>
                    </div>
                    <div class="form-group col">
                      <mat-label>Tpt.ch.M.Ödeme kodu</mat-label>
                      <select
                        matNativeControl
                        formControlName="tptChMOdemeKod"                          
                        [ngClass]="{
                          'is-invalid': submitted && focus.tptChMOdemeKod.errors
                        }"
                      >
                        <option *ngFor="let g of _odemeList" [value]="g.kod">{{
                          g.kod
                        }} {{g.aciklama}}</option>
                      </select>
                      <div
                        *ngIf="submitted && focus.tptChMOdemeKod.errors"
                        class="invalid-feedback"
                      ></div>
                    </div>
                    <div class="form-group col">
                      <mat-form-field>
                        <mat-label>Tek konşimento referans numarası</mat-label>
                        <input
                          matNativeControl
                          type="text"
                          formControlName="konsimentoRef"
                          
                          [ngClass]="{
                            'is-invalid': submitted && focus.konsimentoRef.errors
                          }"
                        />
                        <div
                          *ngIf="submitted && focus.konsimentoRef.errors"
                          class="invalid-feedback"
                        >  </div>
                      </mat-form-field>
                    </div>
                    <div class="form-group col">
                      <mat-form-field>
                        <mat-label>UNDG</mat-label>
                        <input
                          matNativeControl
                          type="text"
                          formControlName="undg"
                          
                          [ngClass]="{
                            'is-invalid': submitted && focus.undg.errors
                          }"
                        />
                        <div
                          *ngIf="submitted && focus.undg.errors"
                          class="invalid-feedback"
                        >  </div>
                      </mat-form-field>
                    </div>   
                  </div>
                  <div class="card m-2"> 
                    <div class="form-group col">
                      <mat-label>Beyan Tipi </mat-label>
                      <select
                        matNativeControl
                        formControlName="ihrBeyanTip"                          
                        [ngClass]="{
                          'is-invalid': submitted && focus.ihrBeyanTip.errors
                        }"
                      >
                        <option value=""></option>
                        <option value="TCGB">TCGB</option>
                        <option value="ETGB">ETGB</option>
                      </select>
                      <div
                        *ngIf="submitted && focus.ihrBeyanTip.errors"
                        class="invalid-feedback"
                      ></div>
                    </div>
                    <div class="form-group col">
                      <mat-form-field>
                        <mat-label>İhracat Beyan No No</mat-label>
                        <input
                          matNativeControl
                          type="text"
                          formControlName="ihrBeyanNo"
                          
                          [ngClass]="{
                            'is-invalid': submitted && focus.ihrBeyanNo.errors
                          }"
                        />
                        <div
                          *ngIf="submitted && focus.ihrBeyanNo.errors"
                          class="invalid-feedback"
                        ></div>
                      </mat-form-field>
                    </div>
                    <div class="form-group col">
                      <mat-label>Parçalı mı? </mat-label>
                      <select
                        matNativeControl
                        formControlName="ihrBeyanParcali"                          
                        [ngClass]="{
                          'is-invalid': submitted && focus.ihrBeyanParcali.errors
                        }"
                      >
                        <option value=""></option>
                        <option value="EVET">EVET</option>
                        <option value="HAYIR">HAYIR</option>
                      </select>
                      <div
                        *ngIf="submitted && focus.ihrBeyanParcali.errors"
                        class="invalid-feedback"
                      ></div>
                    </div>
                  </div>
              
                </mat-tab>  
                <mat-tab label="Alıcı">
                  <div class="card m-3">
                    <h5 class="card-header text-center">Alıcı Bilgileri</h5>
                    <div class="card-body text-center">
                      <mat-cell
                        [style.flex]="'0 0 250px'"
                        *matCellDef="let element"
                      >
                      </mat-cell>
                      <form [formGroup]="aliciFirmaForm">
                        <mat-card class="mat-card">
                          <div class="example-box">
                            <div class="container">
                              <mat-form-field fxFlex="30%">
                                <input
                                  matNativeControl
                                  type="text"
                                  placeholder="Alıcı TIN"
                                  formControlName="no"
                                />
                              </mat-form-field>
                              <div class="form-group col">
                                <mat-form-field fxFlex="30%">
                                  <input
                                    matNativeControl
                                    type="text"
                                    placeholder="Ad Soyad/ Firma Ünvanı"
                                    formControlName="adUnvan"
                                  />
                                </mat-form-field>
                              </div>
                              <mat-form-field fxFlex="10%">
                                <select
                                  matNativeControl
                                  placeholder="Ülke Kodu"
                                  formControlName="ulkeKodu"
                                >
                                  <option
                                    *ngFor="let s of _ulkeList"
                                    [value]="s.kod"
                                    >{{ s.kod }} {{ s.aciklama }}</option
                                  >
                                </select>
                              </mat-form-field>
                              <mat-form-field fxFlex="30%">
                                <input
                                  matNativeControl
                                  type="text"
                                  placeholder="Cadde Sokak No"
                                  formControlName="caddeSokakNo"
                                />
                              </mat-form-field>
                              <mat-form-field fxFlex="30%">
                                <input
                                  matNativeControl
                                  type="text"
                                  placeholder="İl/İlçe"
                                  formControlName="ilIlce"
                                />
                              </mat-form-field>
                              <mat-form-field fxFlex="30%">
                                <select
                                  matNativeControl
                                  placeholder="Dil"
                                  formControlName="dil"
                                >
                                  <option
                                    *ngFor="let s of _dilList"
                                    [value]="s.kod"
                                    >{{ s.kod }} {{ s.aciklama }}</option
                                  >
                                </select>
                              </mat-form-field>
  
                              <mat-form-field fxFlex="30%">
                                <input
                                  matNativeControl
                                  type="text"
                                  placeholder="Posta Kodu"
                                  formControlName="postaKodu"
                                />
                              </mat-form-field>
  
                              <div></div>
                            </div>
                          </div>
                        </mat-card>
                      </form>
                    </div>
                  </div>
                </mat-tab>        
                <mat-tab label="Gönderici">
                  <div class="card m-3">
                    <h5 class="card-header text-center">Gönderici Bilgileri</h5>
                    <div class="card-body text-center">
                      <mat-cell
                        [style.flex]="'0 0 250px'"
                        *matCellDef="let element"
                      >
                      </mat-cell>
                      <form [formGroup]="gondericiFirmaForm">
                        <mat-card class="mat-card">
                          <div class="example-box">
                            <div class="container">
                              <mat-form-field fxFlex="30%">
                                <input
                                  matNativeControl
                                  type="text"
                                  placeholder="Gönderici TIN"
                                  formControlName="no"
                                />
                              </mat-form-field>
                              <div class="form-group col">
                                <mat-form-field fxFlex="30%">
                                  <input
                                    matNativeControl
                                    type="text"
                                    placeholder="Ad Soyad/ Firma Ünvanı"
                                    formControlName="adUnvan"
                                  />
                                </mat-form-field>
                              </div>
                              <mat-form-field fxFlex="10%">
                                <select
                                  matNativeControl
                                  placeholder="Ülke Kodu"
                                  formControlName="ulkeKodu"
                                >
                                  <option
                                    *ngFor="let s of _ulkeList"
                                    [value]="s.kod"
                                    >{{ s.kod }} {{ s.aciklama }}</option
                                  >
                                </select>
                              </mat-form-field>
                              <mat-form-field fxFlex="30%">
                                <input
                                  matNativeControl
                                  type="text"
                                  placeholder="Cadde Sokak No"
                                  formControlName="caddeSokakNo"
                                />
                              </mat-form-field>
                              <mat-form-field fxFlex="30%">
                                <input
                                  matNativeControl
                                  type="text"
                                  placeholder="İl/İlçe"
                                  formControlName="ilIlce"
                                />
                              </mat-form-field>
                              <mat-form-field fxFlex="30%">
                                <select
                                  matNativeControl
                                  placeholder="Dil"
                                  formControlName="dil"
                                >
                                  <option
                                    *ngFor="let s of _dilList"
                                    [value]="s.kod"
                                    >{{ s.kod }} {{ s.aciklama }}</option
                                  >
                                </select>
                              </mat-form-field>
  
                              <mat-form-field fxFlex="30%">
                                <input
                                  matNativeControl
                                  type="text"
                                  placeholder="Posta Kodu"
                                  formControlName="postaKodu"
                                />
                              </mat-form-field>
  
                              <div></div>
                            </div>
                          </div>
                        </mat-card>
                      </form>
                    </div>
                  </div>
                </mat-tab>    
                <mat-tab label="Güvenli Alıcı">
                  <div class="card m-3">
                    <h5 class="card-header text-center">Güvenli Alıcı Bilgileri</h5>
                    <div class="card-body text-center">
                      <mat-cell
                        [style.flex]="'0 0 250px'"
                        *matCellDef="let element"
                      >
                      </mat-cell>
                      <form [formGroup]="guvenlialiciFirmaForm">
                        <mat-card class="mat-card">
                          <div class="example-box">
                            <div class="container">
                              <mat-form-field fxFlex="30%">
                                <input
                                  matNativeControl
                                  type="text"
                                  placeholder="Alıcı TIN"
                                  formControlName="no"
                                />
                              </mat-form-field>
                              <div class="form-group col">
                                <mat-form-field fxFlex="30%">
                                  <input
                                    matNativeControl
                                    type="text"
                                    placeholder="Ad Soyad/ Firma Ünvanı"
                                    formControlName="adUnvan"
                                  />
                                </mat-form-field>
                              </div>
                              <mat-form-field fxFlex="10%">
                                <select
                                  matNativeControl
                                  placeholder="Ülke Kodu"
                                  formControlName="ulkeKodu"
                                >
                                  <option
                                    *ngFor="let s of _ulkeList"
                                    [value]="s.kod"
                                    >{{ s.kod }} {{ s.aciklama }}</option
                                  >
                                </select>
                              </mat-form-field>
                              <mat-form-field fxFlex="30%">
                                <input
                                  matNativeControl
                                  type="text"
                                  placeholder="Cadde Sokak No"
                                  formControlName="caddeSokakNo"
                                />
                              </mat-form-field>
                              <mat-form-field fxFlex="30%">
                                <input
                                  matNativeControl
                                  type="text"
                                  placeholder="İl/İlçe"
                                  formControlName="ilIlce"
                                />
                              </mat-form-field>
                              <mat-form-field fxFlex="30%">
                                <select
                                  matNativeControl
                                  placeholder="Dil"
                                  formControlName="dil"
                                >
                                  <option
                                    *ngFor="let s of _dilList"
                                    [value]="s.kod"
                                    >{{ s.kod }} {{ s.aciklama }}</option
                                  >
                                </select>
                              </mat-form-field>
  
                              <mat-form-field fxFlex="30%">
                                <input
                                  matNativeControl
                                  type="text"
                                  placeholder="Posta Kodu"
                                  formControlName="postaKodu"
                                />
                              </mat-form-field>
  
                              <div></div>
                            </div>
                          </div>
                        </mat-card>
                      </form>
                    </div>
                  </div>
                </mat-tab>        
                <mat-tab label="Güvenli Gönderici">
                  <div class="card m-3">
                    <h5 class="card-header text-center">GüvenliGönderici Bilgileri</h5>
                    <div class="card-body text-center">
                      <mat-cell
                        [style.flex]="'0 0 250px'"
                        *matCellDef="let element"
                      >
                      </mat-cell>
                      <form [formGroup]="guvenligondericiFirmaForm">
                        <mat-card class="mat-card">
                          <div class="example-box">
                            <div class="container">
                              <mat-form-field fxFlex="30%">
                                <input
                                  matNativeControl
                                  type="text"
                                  placeholder="Gönderici TIN"
                                  formControlName="no"
                                />
                              </mat-form-field>
                              <div class="form-group col">
                                <mat-form-field fxFlex="30%">
                                  <input
                                    matNativeControl
                                    type="text"
                                    placeholder="Ad Soyad/ Firma Ünvanı"
                                    formControlName="adUnvan"
                                  />
                                </mat-form-field>
                              </div>
                              <mat-form-field fxFlex="10%">
                                <select
                                  matNativeControl
                                  placeholder="Ülke Kodu"
                                  formControlName="ulkeKodu"
                                >
                                  <option
                                    *ngFor="let s of _ulkeList"
                                    [value]="s.kod"
                                    >{{ s.kod }} {{ s.aciklama }}</option
                                  >
                                </select>
                              </mat-form-field>
                              <mat-form-field fxFlex="30%">
                                <input
                                  matNativeControl
                                  type="text"
                                  placeholder="Cadde Sokak No"
                                  formControlName="caddeSokakNo"
                                />
                              </mat-form-field>
                              <mat-form-field fxFlex="30%">
                                <input
                                  matNativeControl
                                  type="text"
                                  placeholder="İl/İlçe"
                                  formControlName="ilIlce"
                                />
                              </mat-form-field>
                              <mat-form-field fxFlex="30%">
                                <select
                                  matNativeControl
                                  placeholder="Dil"
                                  formControlName="dil"
                                >
                                  <option
                                    *ngFor="let s of _dilList"
                                    [value]="s.kod"
                                    >{{ s.kod }} {{ s.aciklama }}</option
                                  >
                                </select>
                              </mat-form-field>
  
                              <mat-form-field fxFlex="30%">
                                <input
                                  matNativeControl
                                  type="text"
                                  placeholder="Posta Kodu"
                                  formControlName="postaKodu"
                                />
                              </mat-form-field>
  
                              <div></div>
                            </div>
                          </div>
                        </mat-card>
                      </form>
                    </div>
                  </div>
                </mat-tab>                  
               <mat-tab label="Konteyner">
                
                    <form [formGroup]="konteynerForm" novalidate>
                      <div
                        fxLayout="row"
                        fxLayout.xs="column"
                        fxLayoutWrap
                        fxLayoutGap="3.5%"
                        fxLayoutAlign="left"
                      >
                        <mat-card formArrayName="konteynerArry"
                          ><mat-card-title>Konteyner Bilgileri</mat-card-title
                          ><mat-divider></mat-divider>
    
                          <div
                            *ngFor="
                              let unit of konteynerBilgileri.controls;
                              let i = index
                            "
                          >
                            <mat-divider
                              *ngIf="konteynerBilgileri.controls.length > 1 && i > 0"
                            ></mat-divider
                            ><br />
    
                            <div [formGroupName]="i">
                              <div
                                fxLayout="row"
                                fxLayout.xs="column"
                                fxLayoutWrap
                                fxLayoutGap="3.5%"
                                fxLayoutAlign="center"
                              >
                       
                            <div class="form-group col">
                              <mat-form-field fxFlex="30%">
                                <input
                                  matNativeControl
                                  type="text"
                                  placeholder="Konteyner No"
                                  formControlName="konteynerNo"
                                />
                              </mat-form-field>
                            </div>
                          
                            <mat-form-field fxFlex="30%">
                              <select
                                matNativeControl
                                placeholder="Dil"
                                formControlName="dil"
                              >
                                <option
                                  *ngFor="let s of _dilList"
                                  [value]="s.kod"
                                  >{{ s.kod }} {{ s.aciklama }}</option
                                >
                              </select>
                            </mat-form-field>
     
                                <button
                                  mat-mini-fab
                                  color="warn"
                                  [disabled]="!kalemForm.valid"
                                  (click)="deleteKonteynerField(i)"
                                >
                                  <mat-icon>delete forever</mat-icon>
                                </button>
                              </div>
                            </div>
                          </div>
    
                          <mat-divider></mat-divider
                          ><mat-card-actions
                            ><button
                              [disabled]="!kalemForm.valid"
                              mat-raised-button
                              (click)="addKonteynerField()"
                            >
                              <mat-icon>add box</mat-icon>
                              Konteyner Ekle
                            </button></mat-card-actions
                          ></mat-card
                        >
                        <div></div>
                      </div>
                    </form>
                
                </mat-tab>
              <!--     <mat-tab label="Ugrak Ülke">
               
                    <form [formGroup]="ulkeForm" novalidate>
                      <div
                        fxLayout="row"
                        fxLayout.xs="column"
                        fxLayoutWrap
                        fxLayoutGap="3.5%"
                        fxLayoutAlign="left"
                      >
                        <mat-card formArrayName="ulkeArry"
                          ><mat-card-title>Uğradığı Ülke Bilgileri</mat-card-title
                          ><mat-divider></mat-divider>
    
                          <div
                            *ngFor="
                              let unit of ulkeBilgileri.controls;
                              let i = index
                            "
                          >
                            <mat-divider
                              *ngIf="
                              ulkeBilgileri.controls.length > 1 && i > 0
                              "
                            ></mat-divider
                            ><br />
    
                            <div [formGroupName]="i">
                              <div
                                fxLayout="row"
                                fxLayout.xs="column"
                                fxLayoutWrap
                                fxLayoutGap="3.5%"
                                fxLayoutAlign="center"
                              >
                                <mat-form-field fxFlex="10%">
                                  <select
                                    matNativeControl
                                    placeholder="Ülke Kodu "
                                    formControlName="ulkeKodu"
                                  >
                                    <option
                                      *ngFor="let s of _ulkeList"
                                      [value]="s.kod"
                                      >{{ s.kod }} {{s.aciklama}}</option
                                    >
                                  </select>
                                </mat-form-field>
    
                                <mat-form-field fxFlex="30%">
                                  <input
                                    matNativeControl
                                    type="text"
                                    placeholder="Liman Yeri"
                                    formControlName="limanYerAdi"
                                  />
                                </mat-form-field>
    
                                <button
                                  mat-mini-fab
                                  color="warn"
                                  [disabled]="!kalemForm.valid"
                                  (click)="deleteUlkeField(i)"
                                >
                                  <mat-icon>delete forever</mat-icon>
                                </button>
                              </div>
                            </div>
                          </div>
    
                          <mat-divider></mat-divider
                          ><mat-card-actions
                            ><button
                              [disabled]="!kalemForm.valid"
                              mat-raised-button
                              (click)="addUlkeField()"
                            >
                              <mat-icon>add box</mat-icon>
                              Ülke Ekle
                            </button></mat-card-actions
                          ></mat-card
                        >
                        <div></div>
                      </div>
                    </form>
                 
                </mat-tab> -->
                
              </mat-tab-group>
            </mat-card>
            <div class="text-right">
                 
              <button
                [disabled]="
                  !(
                    kalemForm.valid && aliciFirmaForm.valid && gondericiFirmaForm
                    && guvenligondericiFirmaForm && guvenlialiciFirmaForm && konteynerBilgileri.valid 
                  )
                "class="btn btn-primary mr-1"
                (click)="onkalemFormSubmit()"
              >
                Kaydet
              </button>
              <!-- <button class="btn btn-secondary" type="reset" (click)="onReset()">
                İptal
              </button> -->
            </div>
          </form>
      
        </div>
    </div>   
</div>




