<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <form class="example-form">
    <mat-form-field class="islem-no">
      <input matInput placeholder="İşlem No" #islemNo />
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      (click)="getBeyanname(islemNo)"
    >
      Sorgula
    </button>
  </form>
  <div class="card m-3">
    <h5 class="card-header text-center">Özet Beyan Bilgileri</h5>
    <div class="card-body text-center">
      <mat-form-field class="islem-no">
        <mat-label>Beyanname No</mat-label>
        <input
        
          matInput
          readonly
         [(ngModel)]="ozetBeyanNo"
        />
      </mat-form-field>
      <button
        mat-icon-button
        [matMenuTriggerFor]="beyannameheaderMenu"
        class="header-dropdown-mat-icon-button"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #beyannameheaderMenu="matMenu">
        <button mat-menu-item (click)="yeniBeyanname()">
          <mat-icon>add</mat-icon>
          <span>Yeni Beyanname</span>
        </button>
        <button mat-menu-item (click)="duzeltBeyanname()" [disabled]="!BeyanStatu" >
          <mat-icon>sync</mat-icon>
          <span>Beyanname Düzeltme</span>
        </button>

        <button mat-menu-item (click)="getBeyannameKopyalama(islemNo)" [disabled]="!BeyanStatu" >
          <mat-icon>file_copy</mat-icon>
          <span>Beyanname Kopyala</span>
        </button>

        <button mat-menu-item (click)="silBeyanname(islemNo)" [disabled]="!BeyanStatu" >
          <mat-icon>delete</mat-icon>
          <span>Beyanname Silme</span>
        </button>
      </mat-menu>
      <mat-cell [style.flex]="'0 0 250px'" *matCellDef="let element">
      </mat-cell>
      <mat-label>{{beyanStatu}}</mat-label>
      
      <form [formGroup]="ozetBeyanForm" >
        <mat-card class="mat-card">
          <div class="example-box">
            <mat-tab-group>
              <mat-tab label="Genel Bilgiler">
                <div class="form-row">                               
                  <div class="form-group col">
                    <mat-form-field>
                      <mat-label>Gümrük</mat-label>
                      <select
                        matNativeControl
                        formControlName="gumrukIdaresi"
                       
                        [ngClass]="{
                          'is-invalid': submitted && focus.gumrukIdaresi.errors
                        }"
                      >
                        <option *ngFor="let g of _gumrukList" [value]="g.kod">{{
                          g.kod
                        }} {{g.aciklama}}</option>
                      </select>
                      <div
                        *ngIf="submitted && focus.gumrukIdaresi.errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="focus.gumrukIdaresi.errors.required">
                          Gümrük Zorunlu
                        </div>
                      </div>
                    </mat-form-field>
                  </div>
                  <div class="form-group col">
                    <mat-form-field>
                      <mat-label>Rejim</mat-label>
                      <select                     
                        matNativeControl
                        formControlName="rejim"                   
                        [ngClass]="{
                          'is-invalid': submitted && focus.rejim.errors
                        }"
                      >
                        <option  *ngFor="let r of _rejimList" [value]="r.kod" [disabled]="editable">{{
                          r.kod
                        }} {{r.aciklama}}</option>
                      </select>
                      <div
                        *ngIf="submitted && focus.rejim.errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="focus.rejim.errors.required">
                          Rejim Zorunlu
                        </div>
                      </div>
                    </mat-form-field>
                  </div>
                  <div class="form-group col">
                    <mat-form-field>
                      <mat-label>Beyan Türü</mat-label>
                      <select                     
                        matNativeControl
                        formControlName="beyanTuru"
                        (change)="rejimSelect($event.target.value)"
                        [ngClass]="{
                          'is-invalid': submitted && focus.beyanTuru.errors
                        }"
                      >
                        <option  *ngFor="let r of _beyanTuruList" [value]="r.kod" [disabled]="editable">{{
                          r.kod
                        }} {{r.aciklama}}</option>
                      </select>
                      <div
                        *ngIf="submitted && focus.beyanTuru.errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="focus.beyanTuru.errors.required">
                          Beyan Türü Zorunlu
                        </div>
                      </div>
                    </mat-form-field>
                  </div>             
                  <div class="form-group col">
                    <mat-form-field>
                      <mat-label>Beyan Sahibi Vergi No</mat-label>
                      <input
                        matNativeControl
                        type="text"
                        formControlName="beyanSahibiVergiNo"
                       
                        [ngClass]="{
                          'is-invalid': submitted && focus.beyanSahibiVergiNo.errors
                        }"
                      />
                      <div
                        *ngIf="submitted && focus.beyanSahibiVergiNo.errors"
                        class="invalid-feedback"
                      ></div>
                    </mat-form-field>
                  </div>  
                  <div class="form-group col">
                    <mat-form-field>
                      <mat-label>Varış Gümrük</mat-label>
                      <select
                        matNativeControl
                        formControlName="varisCikisGumrukIdaresi"
                       
                        [ngClass]="{
                          'is-invalid': submitted && focus.varisCikisGumrukIdaresi.errors
                        }"
                      >
                        <option *ngFor="let g of _gumrukList" [value]="g.kod">{{
                          g.kod
                        }} {{g.aciklama}}</option>
                      </select>
                      <div
                        *ngIf="submitted && focus.varisCikisGumrukIdaresi.errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="focus.varisCikisGumrukIdaresi.errors.required">
                          Gümrük Zorunlu
                        </div>
                      </div>
                    </mat-form-field>
                  </div> 
                  <div class="form-group col">
                    <mat-form-field>
                      <mat-label>Varış Tarihi</mat-label>
                      <input                        
                        matNativeControl                       
                        formControlName="varisTarihSaati"                       
                         [ngClass]="{'is-invalid':submitted && focus.varisTarihSaati.errors}"
                      />
                      <!-- <mat-datepicker-toggle matSuffix [for]="referansTarihi"></mat-datepicker-toggle>
                      <mat-datepicker touchUi="true" #referansTarihi></mat-datepicker> -->
                   
                      <div
                        *ngIf="submitted && focus.varisTarihSaati.errors"
                        class="invalid-feedback"
                      >
                      <!-- <div *ngIf="focus.referansTarihi.invalid && (focus.referansTarihi.dirty||focus.referansTarihi.touched)" class="alert alert-danger">
                        Referans Tarihi Zorunlu
                       </div> -->
                      
                    </div>
                    </mat-form-field>
                  </div>    
                  <div class="form-group col">
                    <mat-form-field>
                      <mat-label>Tescil Tarihi</mat-label>
                      <input
                        readonly
                        matNativeControl
                        formControlName="tescilTarihi"
                     
                         [ngClass]="{'is-invalid':submitted && focus.tescilTarihi.errors}"
                      />
                  
                      <div
                        *ngIf="submitted && focus.tescilTarihi.errors"
                        class="invalid-feedback"
                      >
                     
                    </div>
                    </mat-form-field>
                  </div>    
                  <div class="form-group col">
                    <mat-form-field>
                      <mat-label>Ref No</mat-label>
                      <input
                    
                        matNativeControl
                        type="text"
                        formControlName="refNo"
                       
                        [ngClass]="{
                          'is-invalid': submitted && focus.refNo.errors
                        }"
                      />
                      <div
                        *ngIf="submitted && focus.refNo.errors"
                        class="invalid-feedback"
                      ></div>
                    </mat-form-field>
                  </div>
                  <div class="form-group col">
                    <mat-form-field>
                      <mat-label>Referans Numarası</mat-label>
                      <input
                    
                        matNativeControl
                        type="text"
                        formControlName="referansNumarasi"
                       
                        [ngClass]="{
                          'is-invalid': submitted && focus.referansNumarasi.errors
                        }"
                      />
                      <div
                        *ngIf="submitted && focus.referansNumarasi.errors"
                        class="invalid-feedback"
                      ></div>
                    </mat-form-field>
                  </div>
                  <div class="form-group col">
                    <mat-form-field>
                      <mat-label>XML Ref Id</mat-label>
                      <input
                       readonly
                        matNativeControl
                        type="text"
                        formControlName="xmlRefId"
                       
                        [ngClass]="{
                          'is-invalid': submitted && focus.xmlRefId.errors
                        }"
                      />
                      <div
                        *ngIf="submitted && focus.xmlRefId.errors"
                        class="invalid-feedback"
                      ></div>
                    </mat-form-field>
                  </div>              
                  <div class="form-group col">
                    <mat-form-field>
                      <mat-label>Kullanıcı Kodu</mat-label>
                      <input
                        readonly
                        matNativeControl
                        type="text"
                        formControlName="kullaniciKodu"
                       
                        [ngClass]="{
                          'is-invalid': submitted && focus.kullaniciKodu.errors
                        }"
                      />
                      <div
                        *ngIf="submitted && focus.kullaniciKodu.errors"
                        class="invalid-feedback"
                      ></div>
                    </mat-form-field>
                  </div>
                  <div class="form-group col">
                    <mat-form-field>
                      <mat-label>Dorse 1</mat-label>
                      <input
                    
                        matNativeControl
                        type="text"
                        formControlName="dorseNo1"
                       
                        [ngClass]="{
                          'is-invalid': submitted && focus.dorseNo1.errors
                        }"
                      />
                      <div
                        *ngIf="submitted && focus.dorseNo1.errors"
                        class="invalid-feedback"
                      ></div>
                    </mat-form-field>
                  </div>
                  <div class="form-group col">
                    <mat-form-field>
                      <mat-label>Dorse 1 Uyruğu</mat-label>
                      <select
                        matNativeControl
                        formControlName="dorseNo1Uyrugu"
                       
                        [ngClass]="{
                          'is-invalid': submitted && focus.dorseNo1Uyrugu.errors
                        }"
                      >
                        <option *ngFor="let g of _ulkeList" [value]="g.kod">{{
                          g.kod
                        }} {{g.aciklama}}</option>
                      </select>
                      <div
                        *ngIf="submitted && focus.dorseNo1Uyrugu.errors"
                        class="invalid-feedback"
                      >
                      
                      </div>
                    </mat-form-field>
                  </div>
                  <div class="form-group col">
                    <mat-form-field>
                      <mat-label>Dorse 2</mat-label>
                      <input
                    
                        matNativeControl
                        type="text"
                        formControlName="dorseNo2"
                       
                        [ngClass]="{
                          'is-invalid': submitted && focus.dorseNo2.errors
                        }"
                      />
                      <div
                        *ngIf="submitted && focus.dorseNo2.errors"
                        class="invalid-feedback"
                      ></div>
                    </mat-form-field>
                  </div>
                  <div class="form-group col">
                    <mat-form-field>
                      <mat-label>Dorse 1 Uyruğu</mat-label>
                      <select
                        matNativeControl
                        formControlName="dorseNo2Uyrugu"
                       
                        [ngClass]="{
                          'is-invalid': submitted && focus.dorseNo2Uyrugu.errors
                        }"
                      >
                        <option *ngFor="let g of _ulkeList" [value]="g.kod">{{
                          g.kod
                        }} {{g.aciklama}}</option>
                      </select>
                      <div
                        *ngIf="submitted && focus.dorseNo2Uyrugu.errors"
                        class="invalid-feedback"
                      >
                      
                      </div>
                    </mat-form-field>
                  </div>
                  <div class="form-group col">
                    <mat-form-field>
                      <mat-label>Ek Belge Sayısı</mat-label>
                      <input
                    
                        matNativeControl
                        type="text"
                        formControlName="ekBelgeSayisi"
                       
                        [ngClass]="{
                          'is-invalid': submitted && focus.ekBelgeSayisi.errors
                        }"
                      />
                      <div
                        *ngIf="submitted && focus.ekBelgeSayisi.errors"
                        class="invalid-feedback"
                      ></div>
                    </mat-form-field>
                  </div>
                  <div class="form-group col">
                    <mat-form-field>
                      <mat-label>Grup Taşıma Senedi No</mat-label>
                      <input
                    
                        matNativeControl
                        type="text"
                        formControlName="grupTasimaSenediNo"
                       
                        [ngClass]="{
                          'is-invalid': submitted && focus.grupTasimaSenediNo.errors
                        }"
                      />
                      <div
                        *ngIf="submitted && focus.grupTasimaSenediNo.errors"
                        class="invalid-feedback"
                      ></div>
                    </mat-form-field>
                  </div>
                  <div class="form-group col">
                    <div class="form-group form-check">
                      <input
                        type="checkbox"
                        formControlName="emniyetGuvenlik"
                        id="emniyetGuvenlik"
                        class="form-check-input"
                        [ngClass]="{
                          'is-invalid': submitted && focus.emniyetGuvenlik.errors
                        }"
                      />
                      <mat-label for="emniyetGuvenlik" class="form-check-label"
                        >Emniyet/Güvenlik</mat-label
                      >
                    </div>
                  </div>
                  <div class="form-group col">
                    <div class="form-group form-check">
                      <input
                        type="checkbox"
                        formControlName="kurye"
                        id="kurye"
                        class="form-check-input"
                        [ngClass]="{
                          'is-invalid': submitted && focus.kurye.errors
                        }"
                      />
                      <mat-label for="kurye" class="form-check-label"
                        >Kurye</mat-label
                      >
                    </div>
                  </div>
                  <div class="form-group col">
                    <mat-form-field>
                      <mat-label>Önceki Beyan No</mat-label>
                      <input
                    
                        matNativeControl
                        type="text"
                        formControlName="oncekiBeyanNo"
                       
                        [ngClass]="{
                          'is-invalid': submitted && focus.oncekiBeyanNo.errors
                        }"
                      />
                      <div
                        *ngIf="submitted && focus.oncekiBeyanNo.errors"
                        class="invalid-feedback"
                      ></div>
                    </mat-form-field>
                  </div>
                  <div class="form-group col">
                    <mat-form-field>
                      <mat-label>Plaka Sefer No</mat-label>
                      <input
                    
                        matNativeControl
                        type="text"
                        formControlName="plakaSeferNo"
                       
                        [ngClass]="{
                          'is-invalid': submitted && focus.plakaSeferNo.errors
                        }"
                      />
                      <div
                        *ngIf="submitted && focus.plakaSeferNo.errors"
                        class="invalid-feedback"
                      ></div>
                    </mat-form-field>
                  </div>
                  <div class="form-group col">
                    <mat-form-field>
                      <mat-label>Taşıma Şekli</mat-label>
                      <select
                      matNativeControl
                      formControlName="tasimaSekli"
                     
                      [ngClass]="{
                        'is-invalid':
                          submitted && focus.tasimaSekli.errors
                      }"
                    >
                      <option
                        *ngFor="let t of _tasimaSekliList"
                        [value]="t.kod"
                        >{{ t.kod }} {{t.aciklama}}</option
                      >
                    </select>
                    
                      <div
                        *ngIf="submitted && focus.tasimaSekli.errors"
                        class="invalid-feedback"
                      >
                      <div *ngIf="focus.tasimaSekli.errors.required">
                        Taşıma Şekli Zorunlu
                      </div>
                    </div>
                    </mat-form-field>
                  </div>      
                  <div class="form-group col">
                    <mat-form-field>
                      <mat-label>Taşıtın Adı</mat-label>
                      <input
                    
                        matNativeControl
                        type="text"
                        formControlName="tasitinAdi"
                       
                        [ngClass]="{
                          'is-invalid': submitted && focus.tasitinAdi.errors
                        }"
                      />
                      <div
                        *ngIf="submitted && focus.tasitinAdi.errors"
                        class="invalid-feedback"
                      ></div>
                    </mat-form-field>
                  </div>
                  <div class="form-group col">
                    <mat-form-field>
                      <mat-label>Taşıyıcı VergiNo</mat-label>
                      <input
                    
                        matNativeControl
                        type="text"
                        formControlName="tasiyiciVergiNo"
                       
                        [ngClass]="{
                          'is-invalid': submitted && focus.tasiyiciVergiNo.errors
                        }"
                      />
                      <div
                        *ngIf="submitted && focus.tasiyiciVergiNo.errors"
                        class="invalid-feedback"
                      ></div>
                    </mat-form-field>
                  </div>
                  <div class="form-group col">
                    <mat-form-field>
                      <mat-label>Tır/Ata Karne No</mat-label>
                      <input
                    
                        matNativeControl
                        type="text"
                        formControlName="tirAtaKarneNo"
                       
                        [ngClass]="{
                          'is-invalid': submitted && focus.tirAtaKarneNo.errors
                        }"
                      />
                      <div
                        *ngIf="submitted && focus.tirAtaKarneNo.errors"
                        class="invalid-feedback"
                      ></div>
                    </mat-form-field>
                  </div>
                  <div class="form-group col">
                    <mat-form-field>
                      <mat-label>Ülke Kodu</mat-label>
                      <select
                        matNativeControl
                        formControlName="ulkeKodu"
                       
                        [ngClass]="{
                          'is-invalid': submitted && focus.ulkeKodu.errors
                        }"
                      >
                        <option *ngFor="let g of _ulkeList" [value]="g.kod">{{
                          g.kod
                        }} {{g.aciklama}}</option>
                      </select>
                      <div
                        *ngIf="submitted && focus.ulkeKodu.errors"
                        class="invalid-feedback"
                      >
                      
                      </div>
                    </mat-form-field>
                  </div>               
                  <div class="form-group col">
                    <mat-form-field>
                      <mat-label>Yükleme Liman Adı</mat-label>
                      <input
                    
                        matNativeControl
                        type="text"
                        formControlName="limanYerAdiYuk"
                       
                        [ngClass]="{
                          'is-invalid': submitted && focus.limanYerAdiYuk.errors
                        }"
                      />
                      <div
                        *ngIf="submitted && focus.limanYerAdiYuk.errors"
                        class="invalid-feedback"
                      ></div>
                    </mat-form-field>
                  </div>
                  <div class="form-group col">
                    <mat-form-field>
                      <mat-label>Yükleme Ülke Kodu</mat-label>
                      <select
                        matNativeControl
                        formControlName="ulkeKoduYuk"
                       
                        [ngClass]="{
                          'is-invalid': submitted && focus.ulkeKoduYuk.errors
                        }"
                      >
                        <option *ngFor="let g of _ulkeList" [value]="g.kod">{{
                          g.kod
                        }} {{g.aciklama}}</option>
                      </select>
                      <div
                        *ngIf="submitted && focus.ulkeKoduYuk.errors"
                        class="invalid-feedback"
                      >
                      
                      </div>
                    </mat-form-field>
                  </div>
                  <div class="form-group col">
                    <mat-form-field>
                      <mat-label>Yükleme Boşlatma Yeri</mat-label>
                      <input
                    
                        matNativeControl
                        type="text"
                        formControlName="yuklemeBosaltmaYeri"
                       
                        [ngClass]="{
                          'is-invalid': submitted && focus.yuklemeBosaltmaYeri.errors
                        }"
                      />
                      <div
                        *ngIf="submitted && focus.yuklemeBosaltmaYeri.errors"
                        class="invalid-feedback"
                      ></div>
                    </mat-form-field>
                  </div>
                  <div class="form-group col">
                    <mat-form-field>
                      <mat-label>Boşaltma Liman Adı</mat-label>
                      <input
                    
                        matNativeControl
                        type="text"
                        formControlName="limanYerAdiBos"
                       
                        [ngClass]="{
                          'is-invalid': submitted && focus.limanYerAdiBos.errors
                        }"
                      />
                      <div
                        *ngIf="submitted && focus.limanYerAdiBos.errors"
                        class="invalid-feedback"
                      ></div>
                    </mat-form-field>
                  </div>
                  <div class="form-group col">
                    <mat-form-field>
                      <mat-label>Boşaltma Ülke Kodu</mat-label>
                      <select
                        matNativeControl
                        formControlName="ulkeKoduBos"
                       
                        [ngClass]="{
                          'is-invalid': submitted && focus.ulkeKoduBos.errors
                        }"
                      >
                        <option *ngFor="let g of _ulkeList" [value]="g.kod">{{
                          g.kod
                        }} {{g.aciklama}}</option>
                      </select>
                      <div
                        *ngIf="submitted && focus.ulkeKoduBos.errors"
                        class="invalid-feedback"
                      >
                      
                      </div>
                    </mat-form-field>
                  </div>
                </div>
                <div class="card m-2">
                 <div class="form-group col">                  
                    <mat-label>Diğer</mat-label>
                    <textarea                                    
                      type="text"                    
                      rows="3"
                      formControlName="diger"
                      class="form-control"
                      [ngClass]="{
                        'is-invalid': submitted && focus.diger.errors
                      }"
                    ></textarea>

                    <div
                      *ngIf="submitted && focus.diger.errors"
                      class="invalid-feedback"
                    ></div>
                 
                </div> 
                </div>
              </mat-tab>
            <mat-tab label="Taşıtın Uğradığı Ülke Bilgileri"> 
                     
                <form [formGroup]="tasitForm" novalidate>
                  <div
                    fxLayout="row"
                    fxLayout.xs="column"
                    fxLayoutWrap
                    fxLayoutGap="3.5%"
                    fxLayoutAlign="left"
                  >
                    <mat-card formArrayName="tasitArry"
                      ><mat-card-title>Taşıtın Uğradığı Liman Bilgileri</mat-card-title
                      ><mat-divider></mat-divider>

                      <div
                        *ngFor="
                          let unit of tasitBilgileri.controls;
                          let i = index
                        "
                      >
                        <mat-divider
                          *ngIf="tasitBilgileri.controls.length > 1 && i > 0"
                        ></mat-divider
                        ><br />

                        <div [formGroupName]="i">
                          <div
                            fxLayout="row"
                            fxLayout.xs="column"
                            fxLayoutWrap
                            fxLayoutGap="3.5%"
                            fxLayoutAlign="center"
                          >
                            <mat-form-field fxFlex="10%">
                              <select
                                matNativeControl
                                placeholder="Ülke Kodu"
                                formControlName="ulkeKodu"
                              >
                                <option
                                  *ngFor="let s of _ulkeList"
                                  [value]="s.kod"
                                  >{{ s.kod }} {{s.aciklama}}</option
                                >
                              </select>
                            </mat-form-field>

                            <mat-form-field fxFlex="30%">
                              <input
                                matNativeControl
                                type="text"
                                placeholder="Liman Yeri/Adı"
                                formControlName="limanYerAdi"
                              />
                            </mat-form-field>

                            <mat-form-field fxFlex="30%">
                              <input
                                matNativeControl
                                type="text"
                                placeholder="Hareket Tarih"
                                formControlName="hareketTarihSaati"
                              />
                            </mat-form-field>
                            <button
                              mat-mini-fab
                              color="warn"
                              [disabled]="!ozetBeyanForm.valid"
                              (click)="deleteTasitField(i)"
                            >
                              <mat-icon>delete forever</mat-icon>
                            </button>
                          </div>
                        </div>
                      </div>

                      <mat-divider></mat-divider
                      ><mat-card-actions
                        ><button
                          [disabled]="!ozetBeyanForm.valid"
                          mat-raised-button
                          (click)="addTasitField()"
                        >
                          <mat-icon>add box</mat-icon>
                          Taşıt Uğrak Ülke Ekle
                        </button></mat-card-actions
                      ></mat-card
                    >
                    <div></div>
                  </div>
                </form>
            
            </mat-tab>
             
            </mat-tab-group>
          </div>
        </mat-card>
        <div class="text-right">      
          <button  [disabled]="!(ozetBeyanForm.valid && tasitBilgileri.valid)" class="btn btn-primary mr-1" (click)="onozetBeyanFormSubmit()">Kaydet</button>      
        
        </div>
      </form>
     
    </div>
  </div>
</div>
