
<mat-card class="example-card" layout="row" layout-align="center center">
  <mat-card-header>  
    <img src="./assets/byt-header.png" width="70" height="70" /> 
  </mat-card-header>
  <mat-card-content> 
   <div class="card" >
  <div class="body">
    <form
      novalidate
      autocomplete="off"
      #loginForm="ngForm"
      (ngSubmit)="login()"
    >
     
      <div class="row clearfix">
        <div class="col-xs-12">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="material-icons">person</i>
            </span>
            <div>
              <mat-form-field>
               <input
                matInput
                name="kullanici"
                class="form-control"
                 matInput
                 [(ngModel)]="
                  girisService.kullaniciModel.kullanici
                  "
                  placeholder="Kullanıcı Kodu"
                  autocomplete="off"
                  required
                  maxlength="11"
                />
              </mat-form-field>
            </div>
          </div>
           <div class="input-group">
            <span class="input-group-addon">
              <i class="material-icons">lock</i>
            </span>
            <div>
              <mat-form-field>
                <input
                  matInput
                  type="password"
                  name="sifre"
                  [(ngModel)]=" girisService.kullaniciModel.sifre"
                  placeholder="Şifre"
                  required
                  maxlength="32"
                />
              </mat-form-field>
            </div>
          </div> 
        </div>
      </div>
      <div class="row">        
        <div class="col-xs-4">
          <button
            mat-flat-button
            type="submit"
            flex="5"
            color="accent"
           [disabled]="!loginForm.form.valid || submitting"
          >
           Giriş
          </button>
        </div> 
      </div>
     
    </form>
  </div>
   </div>
  </mat-card-content>
</mat-card>

