<div class="user-info">
  <div class="image">
      <img src="./assets/user.png" width="48" height="48" alt="User" />
  </div>
  <div class="info-container">
      <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{shownLoginName}}</div>
      <!-- <div class="btn-group user-helper-dropdown">
        <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
        <ul class="dropdown-menu pull-right">
            <li><a [routerLink]="['/app/update-password']"><i class="material-icons">Şifre Değiştir</i>{{ 'UpdatePassword' }}</a></li> 
            <li><a (click)="logout()"><i class="material-icons">input</i>Çıkış</a></li>
        </ul>
    </div> -->
  
  </div>
</div>

<!-- <nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
            <a href="javascript:void(0);" class="bars"></a>
            <a routerLink="/app/home" class="navbar-brand"><i class="fa fa-cubes"></i> BYT</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="javascript:void(0);" class="js-search" data-close="true"><i class="material-icons">search</i></a></li>
             
                <li class="pull-right"><a href="javascript:void(0);" class="js-right-sidebar" data-close="true"><i class="material-icons">more_vert</i></a></li>
            </ul>
        </div>
    </div>
  </nav> -->