<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <form class="example-form">
    <mat-form-field class="islem-no">
      <input matInput placeholder="İşlem No" #islemNo />
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      (click)="getIghb(islemNo)"
    >
      Sorgula
    </button>
  </form>
  <div class="card m-3">
    <h5 class="card-header text-center">İzinli Gönderici Bilgileri</h5>
    <div class="card-body text-center">
      <mat-form-field class="islem-no">
        <mat-label>Beyanname No</mat-label>
        <input
        
          matInput
          readonly
         [(ngModel)]="ighbInternalNo"
        />
      </mat-form-field>
      <button
        mat-icon-button
        [matMenuTriggerFor]="beyannameheaderMenu"
        class="header-dropdown-mat-icon-button"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #beyannameheaderMenu="matMenu">
        <button mat-menu-item (click)="yeniIghbBasvuru()">
          <mat-icon>add</mat-icon>
          <span>Yeni Ighb Başvuru</span>
        </button>
        <button mat-menu-item (click)="duzeltIghbBasvuru()" [disabled]="!BeyanStatu" >
          <mat-icon>sync</mat-icon>
          <span>Ighb Başvuru Düzeltme</span>
        </button>

    

        <button mat-menu-item (click)="silIghbBasvuru(islemNo)" [disabled]="!BeyanStatu" >
          <mat-icon>delete</mat-icon>
          <span>Ighb Başvuru Silme</span>
        </button>
      </mat-menu>
      <mat-cell [style.flex]="'0 0 250px'" *matCellDef="let element">
      </mat-cell>
      <mat-label>{{beyanStatu}}</mat-label>
      
      <form [formGroup]="ighbForm" >
        <mat-card class="mat-card">
          <div class="example-box">
            <mat-tab-group>
              <mat-tab label="Genel Bilgiler">
                <div class="form-row">                               
                  <div class="form-group col">
                    <mat-form-field>
                      <mat-label>Gümrük</mat-label>
                      <select
                        matNativeControl
                        formControlName="gumrukKodu"
                       
                        [ngClass]="{
                          'is-invalid': submitted && focus.gumrukKodu.errors
                        }"
                      >
                        <option *ngFor="let g of _gumrukList" [value]="g.kod">{{
                          g.kod
                        }} {{g.aciklama}}</option>
                      </select>
                      <div
                        *ngIf="submitted && focus.gumrukKodu.errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="focus.gumrukIdaresi.errors.required">
                          Gümrük Zorunlu
                        </div>
                      </div>
                    </mat-form-field>
                  </div>                     
                  <div class="form-group col">
                    <mat-form-field>
                      <mat-label>İzinli Gönderici Vergi No</mat-label>
                      <input
                        matNativeControl
                        type="text"
                        formControlName="izinliGondericiVergiNo"
                       
                        [ngClass]="{
                          'is-invalid': submitted && focus.izinliGondericiVergiNo.errors
                        }"
                      />
                      <div
                        *ngIf="submitted && focus.izinliGondericiVergiNo.errors"
                        class="invalid-feedback"
                      ></div>
                    </mat-form-field>
                  </div>                   
               
                  <div class="form-group col">
                    <mat-form-field>
                      <mat-label>Ref No</mat-label>
                      <input
                    
                        matNativeControl
                        type="text"
                        formControlName="refNo"
                       
                        [ngClass]="{
                          'is-invalid': submitted && focus.refNo.errors
                        }"
                      />
                      <div
                        *ngIf="submitted && focus.refNo.errors"
                        class="invalid-feedback"
                      ></div>
                    </mat-form-field>
                  </div>
                  <div class="form-group col">
                    <mat-form-field>
                      <mat-label>Plaka Bilgisi</mat-label>
                      <input
                    
                        matNativeControl
                        type="text"
                        formControlName="plakaBilgisi"
                       
                        [ngClass]="{
                          'is-invalid': submitted && focus.plakaBilgisi.errors
                        }"
                      />
                      <div
                        *ngIf="submitted && focus.plakaBilgisi.errors"
                        class="invalid-feedback"
                      ></div>
                    </mat-form-field>
                  </div>
                  <div class="form-group col">
                    <mat-form-field>
                      <mat-label>Tesis Kodu</mat-label>
                      <input
                    
                        matNativeControl
                        type="text"
                        formControlName="tesisKodu"
                       
                        [ngClass]="{
                          'is-invalid': submitted && focus.tesisKodu.errors
                        }"
                      />
                      <div
                        *ngIf="submitted && focus.tesisKodu.errors"
                        class="invalid-feedback"
                      ></div>
                    </mat-form-field>
                  </div>
                  <div class="form-group col">
                    <mat-form-field>
                      <mat-label>Kullanıcı Kodu</mat-label>
                      <input
                        readonly
                        matNativeControl
                        type="text"
                        formControlName="kullaniciKodu"
                       
                        [ngClass]="{
                          'is-invalid': submitted && focus.kullaniciKodu.errors
                        }"
                      />
                      <div
                        *ngIf="submitted && focus.kullaniciKodu.errors"
                        class="invalid-feedback"
                      ></div>
                    </mat-form-field>
                  </div>
                  <div class="form-group col">
                    <mat-form-field>
                      <mat-label>Tescil Tarihi</mat-label>
                      <input
                        readonly
                        matNativeControl
                        formControlName="tescilTarihi"
                     
                         [ngClass]="{'is-invalid':submitted && focus.tescilTarihi.errors}"
                      />
                  
                      <div
                        *ngIf="submitted && focus.tescilTarihi.errors"
                        class="invalid-feedback"
                      >
                     
                    </div>
                    </mat-form-field>
                  </div>    
                </div>
              
              </mat-tab>
            <mat-tab label="Tcgb Bilgileri"> 
                     
                <form [formGroup]="tcgbForm" novalidate>
                  <div
                    fxLayout="row"
                    fxLayout.xs="column"
                    fxLayoutWrap
                    fxLayoutGap="3.5%"
                    fxLayoutAlign="left"
                  >
                    <mat-card formArrayName="tcgbArry"
                      ><mat-card-title>İhracat Beyanname Bilgileri</mat-card-title
                      ><mat-divider></mat-divider>

                      <div
                        *ngFor="
                          let unit of tcgbBilgileri.controls;
                          let i = index
                        "
                      >
                        <mat-divider
                          *ngIf="tcgbBilgileri.controls.length > 1 && i > 0"
                        ></mat-divider
                        ><br />

                        <div [formGroupName]="i">
                          <div
                            fxLayout="row"
                            fxLayout.xs="column"
                            fxLayoutWrap
                            fxLayoutGap="3.5%"
                            fxLayoutAlign="center"
                          >
                        
                            <mat-form-field fxFlex="30%">
                              <input
                                matNativeControl
                                type="text"
                                placeholder="TCGB NO"
                                formControlName="tcgbNumarasi"
                              />
                            </mat-form-field>

                         
                            <button
                              mat-mini-fab
                              color="warn"
                              [disabled]="!ighbForm.valid"
                              (click)="deleteTcgbField(i)"
                            >
                              <mat-icon>delete forever</mat-icon>
                            </button>
                          </div>
                        </div>
                      </div>

                      <mat-divider></mat-divider
                      ><mat-card-actions
                        ><button
                          [disabled]="!ighbForm.valid"
                          mat-raised-button
                          (click)="addTcgbField()"
                        >
                          <mat-icon>add box</mat-icon>
                          Tcgb No
                        </button></mat-card-actions
                      ></mat-card
                    >
                    <div></div>
                  </div>
                </form>
            
            </mat-tab>
             
            </mat-tab-group>
          </div>
        </mat-card>
        <div class="text-right">      
          <button  [disabled]="!(ighbForm.valid && tcgbBilgileri.valid)" class="btn btn-primary mr-1" (click)="onighbFormSubmit()">Kaydet</button>      
        
        </div>
      </form>
     
    </div>
  </div>
</div>
