<div class="row">  
    <div>     
      <mat-menu #kalemheaderMenu="matMenu">
        <button
          mat-menu-item
          (click)="yukleSenetler()"
          [disabled]="
          !BeyanStatu
          "
        >
          <mat-icon>refresh</mat-icon>
          <span>Listeyi Yenile</span>
        </button>
        <button
          mat-menu-item
          (click)="yeniSenet()"
          [disabled]="
          !BeyanStatu
          "
        >
          <mat-icon>add</mat-icon>
          <span>Yeni Taşıma Senet</span>
        </button>
        <button
          mat-menu-item
          (click)="duzeltSenet()"
          [hidden]="!BeyanSilDuzeltStatu"
        >
          <mat-icon>sync</mat-icon>
          <span>Taşıma Senet Düzeltme</span>
        </button>
        <button
          mat-menu-item
          (click)="silSenet(tasimaSenetInternalNo,sentNo)"
          [hidden]="!BeyanSilDuzeltStatu"
        >
          <mat-icon>remove</mat-icon>
          <span>Taşıma Senet Sil</span>
        </button>
      </mat-menu>
      <h6 class="card-header text-left">Taşıma Senetler</h6>
      
      <div class="card m-2">
        <button 
          mat-icon-button
          [matMenuTriggerFor]="kalemheaderMenu"
          class="header-dropdown-mat-icon-button"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-selection-list #SenetList multiple="false">
          
          <mat-list-option
            *ngFor="let kalem of _senetler"
            [value]="kalem"
            [disableRipple]="true"
            (click)="getSenet(kalem.senetSiraNo)"
          >
            <div
              style="
                display: flex;
                justify-content: space-between;
                align-items: center;
              "
            >
              <div style="display: flex; align-items: center;">
                <mat-icon matListAvatar>folder</mat-icon>
                <div style="display: flex; flex-direction: column;">
                  <h5 matLine>{{ kalem.senetSiraNo }}</h5>
                  <p matLine>
                    {{ kalem.tasimaSenediNo }}
                  </p>
                </div>
              </div>
            </div>
          </mat-list-option>
       
        </mat-selection-list>
     
      </div>
    </div>
    <div class="card m-3" style="width: 75%;">       
     
        <h6 class="card-header text-center">Taşıma Seneti Bilgileri</h6>
        <div class="card-body text-center">     
            <mat-label>Beyanname No</mat-label>
            <input class="islem-no" matInput readonly #BeyannameNo [(ngModel)]="ozetBeyanInternalNo" />
          
          <mat-label>{{ beyanStatu }}</mat-label>
          <form [formGroup]="senetForm">
            <mat-card class="mat-card">
              <mat-tab-group>
                <mat-tab label="Genel Bilgiler">
                  <div class="form-row">
                    <div class="form-group col">
                      <mat-form-field>
                        <mat-label>Senet Sıra No</mat-label>
                        <input
                          readonly
                          matNativeControl
                          type="text"
                          formControlName="senetSiraNo"
                          
                          [ngClass]="{
                            'is-invalid': submitted && focus.senetSiraNo.errors
                          }"
                        />
                        <div
                          *ngIf="submitted && focus.senetSiraNo.errors"
                          class="invalid-feedback"
                        ></div>
                      </mat-form-field>
                    </div>
                    <div class="form-group col">
                      <mat-form-field>
                        <mat-label>Taşıma Senet No</mat-label>
                        <input
                          matNativeControl
                          type="text"
                          formControlName="tasimaSenediNo"
                          
                          [ngClass]="{
                            'is-invalid': submitted && focus.tasimaSenediNo.errors
                          }"
                        />
                        <div
                          *ngIf="submitted && focus.tasimaSenediNo.errors"
                          class="invalid-feedback"
                        >
                        <div *ngIf="focus.tasimaSenediNo.errors.required">
                          Taşıma Senedi No Zorunlu
                        </div></div>
                      </mat-form-field>
                    </div>
                    <div class="form-group col">
                      <mat-form-field>
                        <mat-label>Eşyanın Bulunduğu Yer</mat-label>
                        <input
                          matNativeControl
                          type="text"
                          formControlName="esyaninBulunduguYer"
                          
                          [ngClass]="{
                            'is-invalid': submitted && focus.esyaninBulunduguYer.errors
                          }"
                        />
                        <div
                          *ngIf="submitted && focus.esyaninBulunduguYer.errors"
                          class="invalid-feedback"
                        >
                       </div>
                      </mat-form-field>
                    </div>
                    <div class="form-group col">
                      <mat-form-field>
                        <mat-label>Ödeme Şekli</mat-label>
                        <input
                          matNativeControl
                          type="text"
                          formControlName="odemeSekli"
                          
                          [ngClass]="{
                            'is-invalid': submitted && focus.odemeSekli.errors
                          }"
                        />
                        <div
                          *ngIf="submitted && focus.odemeSekli.errors"
                          class="invalid-feedback"
                        >
                        </div>
                      </mat-form-field>
                    </div>
                    <div class="form-group col">
                      <mat-form-field>
                        <mat-label>Önceki Sefer Numarası</mat-label>
                        <input
                          matNativeControl
                          type="text"
                          formControlName="oncekiSeferNumarasi"
                          
                          [ngClass]="{
                            'is-invalid': submitted && focus.oncekiSeferNumarasi.errors
                          }"
                        />
                        <div
                          *ngIf="submitted && focus.oncekiSeferNumarasi.errors"
                          class="invalid-feedback"
                        >
                        </div>
                      </mat-form-field>
                    </div>
                    <div class="form-group col">
                      <mat-form-field>
                        <mat-label>ÖzetBeyan Numarası</mat-label>
                        <input
                          matNativeControl
                          type="text"
                          formControlName="ozetBeyanNo"
                          
                          [ngClass]="{
                            'is-invalid': submitted && focus.ozetBeyanNo.errors
                          }"
                        />
                        <div
                          *ngIf="submitted && focus.ozetBeyanNo.errors"
                          class="invalid-feedback"
                        >
                        </div>
                      </mat-form-field>
                    </div>
                    <div class="form-group col">
                      <mat-form-field>
                        <mat-label>Önceki Sefer Tarihi</mat-label>
                        <input
                          matNativeControl
                          type="text"
                          formControlName="oncekiSeferTarihi"
                          
                          [ngClass]="{
                            'is-invalid': submitted && focus.oncekiSeferTarihi.errors
                          }"
                        />
                        <div
                          *ngIf="submitted && focus.oncekiSeferTarihi.errors"
                          class="invalid-feedback"
                        >
                        </div>
                      </mat-form-field>
                    </div>
                    <div class="form-group col">
                      <mat-form-field>
                        <mat-label>Düzenlendiği Ülke</mat-label>
                        <select
                          matNativeControl
                          formControlName="duzenlendigiUlke"
                          
                          [ngClass]="{
                            'is-invalid': submitted && focus.duzenlendigiUlke.errors
                          }"
                        >
                          <option *ngFor="let g of _ulkeList" [value]="g.kod">{{
                            g.kod
                          }} {{g.aciklama}}</option>
                        </select>
                        <div
                          *ngIf="submitted && focus.duzenlendigiUlke.errors"
                          class="invalid-feedback"
                        >
                          <div *ngIf="focus.duzenlendigiUlke.errors.required">
                            Düzenlendiği Ülke Zorunlu
                          </div>
                        </div>
                      </mat-form-field>
                    </div>             
                    <div class="form-group col">
                      <div class="form-group form-check">
                        <input
                          type="checkbox"
                          formControlName="ambarHarici"
                          id="ambarHarici"
                          class="form-check-input"
                          [ngClass]="{
                            'is-invalid': submitted && focus.ambarHarici.errors
                          }"
                        />
                        <mat-label for="ambarHarici" class="form-check-label"
                          >Ambar Harici</mat-label
                        >
                      </div>
                    </div>
                    <div class="form-group col">
                      <div class="form-group form-check">
                        <input
                          type="checkbox"
                          formControlName="emniyetGuvenlik"
                          id="emniyetGuvenlik"
                          class="form-check-input"
                          [ngClass]="{
                            'is-invalid':
                              submitted && focus.emniyetGuvenlik.errors
                          }"
                        />
                        <mat-label
                          for="emniyetGuvenlik"
                          class="form-check-label"
                          >Emniyet/Güvenlik
                        </mat-label>
                      </div>
                    </div>
                    <div class="form-group col">
                      <div class="form-group form-check">
                        <input
                          type="checkbox"
                          formControlName="grup"
                          id="grup"
                          class="form-check-input"
                          [ngClass]="{
                            'is-invalid': submitted && focus.grup.errors
                          }"
                        />
                        <mat-label for="grup" class="form-check-label"
                          >Grup</mat-label
                        >
                      </div>
                    </div>
                    <div class="form-group col">
                        <div class="form-group form-check">
                          <input
                            type="checkbox"
                            formControlName="konteyner"
                            id="konteyner"
                            class="form-check-input"
                            [ngClass]="{
                              'is-invalid': submitted && focus.konteyner.errors
                            }"
                          />
                          <mat-label for="konteyner" class="form-check-label"
                            >Konteyner</mat-label
                          >
                        </div>
                    </div>
                    <div class="form-group col">
                        <div class="form-group form-check">
                          <input
                            type="checkbox"
                            formControlName="roro"
                            id="roro"
                            class="form-check-input"
                            [ngClass]="{
                              'is-invalid':
                                submitted && focus.roro.errors
                            }"
                          />
                          <mat-label
                            for="roro"
                            class="form-check-label"
                            >Roro
                          </mat-label>
                        </div>
                    </div>
                    <div class="form-group col">
                        <div class="form-group form-check">
                          <input
                            type="checkbox"
                            formControlName="aktarmaYapilacak"
                            id="aktarmaYapilacak"
                            class="form-check-input"
                            [ngClass]="{
                              'is-invalid': submitted && focus.aktarmaYapilacak.errors
                            }"
                          />
                          <mat-label for="aktarmaYapilacak" class="form-check-label"
                            >Aktarma Yapılacak</mat-label
                          >
                        </div>
                    </div>
                 
                    <div class="card m-2">
                      <div class="form-group col">
                        <mat-label>Fatura Dövizi </mat-label>
                        <select
                          matNativeControl
                          formControlName="faturaDoviz"                          
                          [ngClass]="{
                            'is-invalid': submitted && focus.faturaDoviz.errors
                          }"
                        >
                          <option *ngFor="let g of _dovizList" [value]="g.kod">{{
                            g.kod
                          }} {{g.aciklama}}</option>
                        </select>
                        <div
                          *ngIf="submitted && focus.faturaDoviz.errors"
                          class="invalid-feedback"
                        ></div>
                      </div>
                      <div class="form-group col">
                        <mat-form-field>
                          <mat-label>Fatura Toplamı</mat-label>
                          <input
                            matNativeControl
                            type="text"
                            formControlName="faturaToplami"
                            
                            [ngClass]="{
                              'is-invalid': submitted && focus.faturaToplami.errors
                            }"
                          />
                          <div
                            *ngIf="submitted && focus.faturaToplami.errors"
                            class="invalid-feedback"
                          ></div>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="card m-2">
                      <div class="form-group col">
                        <mat-label>Navlun Dövizi </mat-label>
                        <select
                          matNativeControl
                          formControlName="navlunDoviz"                          
                          [ngClass]="{
                            'is-invalid': submitted && focus.navlunDoviz.errors
                          }"
                        >
                          <option *ngFor="let g of _dovizList" [value]="g.kod">{{
                            g.kod
                          }} {{g.aciklama}}</option>
                        </select>
                        <div
                          *ngIf="submitted && focus.navlunDoviz.errors"
                          class="invalid-feedback"
                        ></div>
                      </div>
                      <div class="form-group col">
                        <mat-form-field>
                          <mat-label>Navlu Toplamı</mat-label>
                          <input
                            matNativeControl
                            type="text"
                            formControlName="navlunTutari"
                            
                            [ngClass]="{
                              'is-invalid': submitted && focus.navlunTutari.errors
                            }"
                          />
                          <div
                            *ngIf="submitted && focus.navlunTutari.errors"
                            class="invalid-feedback"
                          ></div>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <div class="card m-2">
                    <div class="form-group col">
                      <mat-label>Acente Adı </mat-label>
                      <textarea
                        type="text"
                        rows="3"
                        formControlName="acentaAdi"
                        class="form-control"
                        [ngClass]="{
                          'is-invalid':
                            submitted && focus.acentaAdi.errors
                        }"
                      ></textarea>
    
                      <div
                        *ngIf="submitted && focus.acentaAdi.errors"
                        class="invalid-feedback"
                      ></div>
                    </div>
                    <div class="form-group col">
                      <mat-form-field>
                        <mat-label>Acente Vergi No</mat-label>
                        <input
                          matNativeControl
                          type="text"
                          formControlName="acentaVergiNo"
                          
                          [ngClass]="{
                            'is-invalid': submitted && focus.acentaVergiNo.errors
                          }"
                        />
                        <div
                          *ngIf="submitted && focus.acentaVergiNo.errors"
                          class="invalid-feedback"
                        ></div>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="card m-2">
                    <div class="form-group col">
                      <mat-label>Alıcı Adı </mat-label>
                      <textarea
                        type="text"
                        rows="3"
                        formControlName="aliciAdi"
                        class="form-control"
                        [ngClass]="{
                          'is-invalid':
                            submitted && focus.aliciAdi.errors
                        }"
                      ></textarea>
    
                      <div
                        *ngIf="submitted && focus.aliciAdi.errors"
                        class="invalid-feedback"
                      ></div>
                    </div>
                    <div class="form-group col">
                      <mat-form-field>
                        <mat-label>Alıcı Vergi No</mat-label>
                        <input
                          matNativeControl
                          type="text"
                          formControlName="aliciVergiNo"
                          
                          [ngClass]="{
                            'is-invalid': submitted && focus.aliciVergiNo.errors
                          }"
                        />
                        <div
                          *ngIf="submitted && focus.aliciVergiNo.errors"
                          class="invalid-feedback"
                        ></div>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="card m-2">
                    <div class="form-group col">
                      <mat-label>Gönderici Adı </mat-label>
                      <textarea
                        type="text"
                        rows="3"
                        formControlName="gondericiAdi"
                        class="form-control"
                        [ngClass]="{
                          'is-invalid':
                            submitted && focus.gondericiAdi.errors
                        }"
                      ></textarea>
    
                      <div
                        *ngIf="submitted && focus.gondericiAdi.errors"
                        class="invalid-feedback"
                      ></div>
                    </div>
                    <div class="form-group col">
                      <mat-form-field>
                        <mat-label>Gönderici Vergi No</mat-label>
                        <input
                          matNativeControl
                          type="text"
                          formControlName="gondericiVergiNo"
                          
                          [ngClass]="{
                            'is-invalid': submitted && focus.gondericiVergiNo.errors
                          }"
                        />
                        <div
                          *ngIf="submitted && focus.gondericiVergiNo.errors"
                          class="invalid-feedback"
                        ></div>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="card m-2">
                    <div class="form-group col">
                      <mat-label>Bildirim Tarafı Adı </mat-label>
                      <textarea
                        type="text"
                        rows="3"
                        formControlName="bildirimTarafiAdi"
                        class="form-control"
                        [ngClass]="{
                          'is-invalid':
                            submitted && focus.bildirimTarafiAdi.errors
                        }"
                      ></textarea>
    
                      <div
                        *ngIf="submitted && focus.bildirimTarafiAdi.errors"
                        class="invalid-feedback"
                      ></div>
                    </div>
                    <div class="form-group col">
                      <mat-form-field>
                        <mat-label>Bildirim Tarafı Vergi No</mat-label>
                        <input
                          matNativeControl
                          type="text"
                          formControlName="bildirimTarafiVergiNo"
                          
                          [ngClass]="{
                            'is-invalid': submitted && focus.bildirimTarafiVergiNo.errors
                          }"
                        />
                        <div
                          *ngIf="submitted && focus.bildirimTarafiVergiNo.errors"
                          class="invalid-feedback"
                        ></div>
                      </mat-form-field>
                    </div>
                  </div>
                </mat-tab>             
                <mat-tab label="Taşıma Satır">
                       <form [formGroup]="satirForm" novalidate>
                        <div
                          fxLayout="row"
                          fxLayout.xs="column"
                          fxLayoutWrap
                          fxLayoutGap="3.5%"
                          fxLayoutAlign="left"
                        >
                          <mat-card formArrayName="satirArry"
                            ><mat-card-title>Taşıma Satır Bilgileri</mat-card-title
                            ><mat-divider></mat-divider>
    
                            <div
                              *ngFor="
                                let unit of satirBilgileri.controls;
                                let i = index
                              "
                            >
                           
                              <div [formGroupName]="i">
                                <div
                                  fxLayout="row"
                                  fxLayout.xs="column"
                                  fxLayoutWrap
                                  fxLayoutGap="3.5%"
                                  fxLayoutAlign="center"
                                >

                                <mat-card-actions>
                                  <button
                                    mat-raised-button
                                    (click)="getSatirEsyaBilgileri(tasimaSatirEsyaModel, i)"
                                  >
                                    <mat-icon>notes</mat-icon>
                                    Eşya Bilgileri
                                  </button></mat-card-actions
                                >
                                <mat-form-field fxFlex="30%">
                                  <input
                                   readonly
                                    matNativeControl
                                    type="text"
                                    placeholder="Satır No"
                                    formControlName="satirNo"
                                  />
                                </mat-form-field>
                                  <mat-form-field fxFlex="10%">
                                    <select
                                      matNativeControl
                                      placeholder="Ölçü Birimi"
                                      formControlName="olcuBirimi"
                                    >
                                    <option *ngFor="let g of _olcuList" [value]="g.kod">{{
                                      g.kod
                                    }} {{g.aciklama}}</option>
                                    </select>
                                  </mat-form-field>
                                  <mat-form-field fxFlex="30%">
                                    <input
                                      matNativeControl
                                      type="text"
                                      placeholder="Kap Adeti"
                                      formControlName="kapAdedi"
                                    />
                                  </mat-form-field>
                                  <mat-form-field fxFlex="10%">
                                    <select
                                      matNativeControl
                                      placeholder="Kap Cinsi"
                                      formControlName="kapCinsi"
                                    >
                                    <option *ngFor="let g of _cinsList" [value]="g.kod">{{
                                      g.kod
                                    }} {{g.aciklama}}</option>
                                    </select>
                                  </mat-form-field>
                                  <mat-form-field fxFlex="30%">
                                    <input
                                      matNativeControl
                                      type="text"
                                      placeholder="Marka No"
                                      formControlName="markaNo"
                                    />
                                  </mat-form-field>
                                  <mat-form-field fxFlex="30%">
                                    <input
                                      matNativeControl
                                      type="text"
                                      placeholder="Mühür Numarası"
                                      formControlName="muhurNumarasi"
                                    />
                                  </mat-form-field>
                                  <mat-form-field fxFlex="10%">
                                    <select
                                      matNativeControl
                                      placeholder="Konyetner Tipi"
                                      formControlName="konteynerTipi"
                                    >
                                      <option value="YER">Yerli</option>
                                      <option value="YAB">Yabancı</option>
                                    </select>
                                  </mat-form-field>
                                  <mat-form-field fxFlex="30%">
                                    <select
                                      matNativeControl
                                      placeholder="Konteyner Yük Durumu"
                                      formControlName="konteynerYukDurumu"
                                    >
                                     <option value="BOŞ">BOŞ</option>
                                      <option value="DOLU">DOLU</option>
                                    </select>
                                    
                                  </mat-form-field>
                                  
                                  <mat-form-field fxFlex="30%">
                                    <input
                                      matNativeControl
                                      type="text"
                                      placeholder="Brüt Ağırlık"
                                      formControlName="brutAgirlik"
                                    />
                                  </mat-form-field>
                                  <mat-form-field fxFlex="30%">
                                    <input
                                      matNativeControl
                                      type="text"
                                      placeholder="Net Ağırlık"
                                      formControlName="netAgirlik"
                                    />
                                  </mat-form-field>
                                 
                                  <button
                                    mat-mini-fab
                                    color="warn"
                                    [disabled]="!senetForm.valid"
                                    (click)="deleteSatirField(i)"
                                  >
                                    <mat-icon>delete forever</mat-icon>
                                  </button>
                                </div>
                              </div>
                              <mat-list-item  *ngIf="satirBilgileri.controls.length > 0 ">
                                <p mat-line > {{i+1}} </p>
                               <mat-divider [inset]="true" *ngIf="satirBilgileri.controls.length !=i+1" ></mat-divider>
                            </mat-list-item>
                            </div>
    
                            <mat-divider></mat-divider
                            ><mat-card-actions
                              ><button
                                [disabled]="!senetForm.valid"
                                mat-raised-button
                                (click)="addSatirField()"
                              >
                                <mat-icon>add box</mat-icon>
                                Taşıma Satır Ekle
                              </button></mat-card-actions
                            ></mat-card
                          >
                          <div></div>
                        </div>
                      </form>
                </mat-tab>
                 <mat-tab label="İhracat">
                
                    <form [formGroup]="ihracatForm" novalidate>
                      <div
                        fxLayout="row"
                        fxLayout.xs="column"
                        fxLayoutWrap
                        fxLayoutGap="3.5%"
                        fxLayoutAlign="left"
                      >
                        <mat-card formArrayName="ihracatArry"
                          ><mat-card-title>İhracat Bilgileri</mat-card-title
                          ><mat-divider></mat-divider>
    
                          <div
                            *ngFor="
                              let unit of ihracatBilgileri.controls;
                              let i = index
                            "
                          >
                            <mat-divider
                              *ngIf="ihracatBilgileri.controls.length > 1 && i > 0"
                            ></mat-divider
                            ><br />
    
                            <div [formGroupName]="i">
                              <div
                                fxLayout="row"
                                fxLayout.xs="column"
                                fxLayoutWrap
                                fxLayoutGap="3.5%"
                                fxLayoutAlign="center"
                              >
                                
                                <mat-form-field fxFlex="30%">
                                  <input
                                    matNativeControl
                                    type="text"
                                    placeholder="Brüt Ağırlık"
                                    formControlName="brutAgirlik"
                                  />
                                </mat-form-field>
    
                                <mat-form-field fxFlex="30%">
                                  <input
                                    matNativeControl
                                    type="text"
                                    placeholder="Kap Adet"
                                    formControlName="kapAdet"
                                  />
                                </mat-form-field>
                                <mat-form-field fxFlex="30%">
                                  <input
                                    matNativeControl
                                    type="text"
                                    placeholder="Numara"
                                    formControlName="numara"
                                  />
                                </mat-form-field>
                                <mat-form-field fxFlex="30%">
                                  
                                  <select
                                  matNativeControl
                                  placeholder="Tip"
                                  formControlName="tip"
                                >
                                <option *ngFor="let g of _ihracTipiList" [value]="g.kod">{{
                                  g.kod
                                }} </option>
                                </select>
                                </mat-form-field>
                                <mat-form-field fxFlex="30%">                                 
                                  <select
                                  matNativeControl
                                  placeholder="Parçalı"
                                  formControlName="parcali"
                                >
                                  <option value="Evet">Evet</option>
                                  <option value="Hayir">Hayir</option>
                                </select>
                                </mat-form-field>
                                <button
                                  mat-mini-fab
                                  color="warn"
                                  [disabled]="!senetForm.valid"
                                  (click)="deleteIhracatField(i)"
                                >
                                  <mat-icon>delete forever</mat-icon>
                                </button>
                              </div>
                            </div>
                          </div>
    
                          <mat-divider></mat-divider
                          ><mat-card-actions
                            ><button
                              [disabled]="!senetForm.valid"
                              mat-raised-button
                              (click)="addIhracatField()"
                            >
                              <mat-icon>add box</mat-icon>
                              İhracat Ekle
                            </button></mat-card-actions
                          ></mat-card
                        >
                        <div></div>
                      </div>
                    </form>
                
                </mat-tab>
                <mat-tab label="Ugrak Ülke">
               
                    <form [formGroup]="ulkeForm" novalidate>
                      <div
                        fxLayout="row"
                        fxLayout.xs="column"
                        fxLayoutWrap
                        fxLayoutGap="3.5%"
                        fxLayoutAlign="left"
                      >
                        <mat-card formArrayName="ulkeArry"
                          ><mat-card-title>Uğradığı Ülke Bilgileri</mat-card-title
                          ><mat-divider></mat-divider>
    
                          <div
                            *ngFor="
                              let unit of ulkeBilgileri.controls;
                              let i = index
                            "
                          >
                            <mat-divider
                              *ngIf="
                              ulkeBilgileri.controls.length > 1 && i > 0
                              "
                            ></mat-divider
                            ><br />
    
                            <div [formGroupName]="i">
                              <div
                                fxLayout="row"
                                fxLayout.xs="column"
                                fxLayoutWrap
                                fxLayoutGap="3.5%"
                                fxLayoutAlign="center"
                              >
                                <mat-form-field fxFlex="10%">
                                  <select
                                    matNativeControl
                                    placeholder="Ülke Kodu "
                                    formControlName="ulkeKodu"
                                  >
                                    <option
                                      *ngFor="let s of _ulkeList"
                                      [value]="s.kod"
                                      >{{ s.kod }} {{s.aciklama}}</option
                                    >
                                  </select>
                                </mat-form-field>
    
                                <mat-form-field fxFlex="30%">
                                  <input
                                    matNativeControl
                                    type="text"
                                    placeholder="Liman Yeri"
                                    formControlName="limanYerAdi"
                                  />
                                </mat-form-field>
    
                                <button
                                  mat-mini-fab
                                  color="warn"
                                  [disabled]="!senetForm.valid"
                                  (click)="deleteUlkeField(i)"
                                >
                                  <mat-icon>delete forever</mat-icon>
                                </button>
                              </div>
                            </div>
                          </div>
    
                          <mat-divider></mat-divider
                          ><mat-card-actions
                            ><button
                              [disabled]="!senetForm.valid"
                              mat-raised-button
                              (click)="addUlkeField()"
                            >
                              <mat-icon>add box</mat-icon>
                              Ülke Ekle
                            </button></mat-card-actions
                          ></mat-card
                        >
                        <div></div>
                      </div>
                    </form>
                 
                </mat-tab>
                -->
              </mat-tab-group>
            </mat-card>
            <div class="text-right">
                 
              <button
                [disabled]="
                  !(
                    senetForm.valid && satirBilgileri.valid && ihracatBilgileri.valid && ulkeBilgileri.valid    
                  )
                "class="btn btn-primary mr-1"
                (click)="onsenetFormSubmit()"
              >
                Kaydet
              </button>
              <!-- <button class="btn btn-secondary" type="reset" (click)="onReset()">
                İptal
              </button> -->
            </div>
          </form>
          <ng-template #tasimaSatirEsyaModel let-modal>
        
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Taşıma Satırı</h4>
              <button
              type="button"
              color="primary"
              class="close"
              (click)="modal.dismiss('Cross click')"
            >
              X
            </button>
           
            </div>
            <div class="modal-body">
              <mat-card class="mat-card">
                <div class="card m-2">             
                  <mat-selection-list #OzetBeyanList multiple="false">
                    <mat-list-option
                      [disabled]="!SatirStatu"
                      (click)="esyaSatirIslemOzetBeyan()"
                    >
                      <div
                        style="
                          display: flex;
                          justify-content: space-between;
                          align-items: center;
                        "
                      >
                      <div style="display: flex; align-items: center;">
                        <mat-icon matListAvatar>notes</mat-icon>
                        <div style="display: flex; flex-direction: column;">
                          <h5 matLine>{{ sentNo}} - {{ satirNo}} </h5>
                          <p matLine>
                            Taşıma Satırı
                          </p> 
                        </div>
                      </div>
                      </div>
                    </mat-list-option>
                  </mat-selection-list>
                 
                </div>
                <form [formGroup]="satirEsyaForm" novalidate>
                  <div
                    fxLayout="row wrap"
                    fxLayout.xs="column"
                    fxLayoutWrap
                    fxLayoutGap="3.5%"
                    fxLayoutAlign="left"
                  >
                    <mat-card formArrayName="satirEsyaArry">
                      <mat-divider></mat-divider>
                      <div
                        *ngFor="
                          let unit of satirEsyaBilgileri.controls;
                          let i = index
                        "
                      >
                        <mat-divider
                          *ngIf="satirEsyaBilgileri.controls.length > 1 && i > 0"
                        ></mat-divider
                        ><br />
    
                        <div [formGroupName]="i">
                          <div
                            fxLayout="row wrap"
                            fxLayout.xs="column"
                            fxLayoutWrap
                            fxLayoutGap="5.5%"
                            fxLayoutAlign="space-around"
                          >
                          <mat-form-field fxFlex="10%">
                            <input
                              matNativeControl
                              placeholder="Kalem Sıra No"
                              formControlName="kalemSiraNo"
                            />
                          </mat-form-field>
                            <mat-form-field fxFlex="10%">
                              <input
                                matNativeControl
                                placeholder="BM Eşya Kodu"
                                formControlName="bmEsyaKodu"
                              />
                            </mat-form-field>
                            <mat-form-field fxFlex="10%">
                              <input
                                matNativeControl
                                placeholder="Eşya Kodu"
                                formControlName="esyaKodu"
                              />
                            </mat-form-field>
                            <mat-form-field fxFlex="10%">
                              <input
                                matNativeControl
                                placeholder="Eşya Tanımı"
                                formControlName="esyaninTanimi"
                              />
                            </mat-form-field>
                            <mat-form-field fxFlex="10%">
                              <input
                                matNativeControl
                                placeholder="Brüt Ağırlık"
                                formControlName="brutAgirlik"
                              />
                            </mat-form-field>
                            <mat-form-field fxFlex="10%">
                              <input
                                matNativeControl
                                placeholder="Net Ağırlık"
                                formControlName="netAgirlik"
                              />
                            </mat-form-field>
                            <mat-form-field fxFlex="10%">
                              <input
                                matNativeControl
                                placeholder="Kalem Fiyatı"
                                formControlName="kalemFiyati"
                              />
                            </mat-form-field>
                            <mat-form-field fxFlex="10%">
                              <select
                              matNativeControl
                              placeholder="Kalem Fiyatı Dövizi"
                              formControlName="kalemFiyatiDoviz"
                          
                              >
                              <option *ngFor="let g of _dovizList" [value]="g.kod">{{
                                g.kod
                              }} {{g.aciklama}}</option>
                              </select>
                              
                            </mat-form-field>
                            <mat-form-field fxFlex="10%">
                              <select
                              matNativeControl
                              placeholder="Ölçü Birimi"
                              formControlName="olcuBirimi"
                          
                              >
                              <option *ngFor="let g of _olcuList" [value]="g.kod">{{
                                g.kod
                              }} {{g.aciklama}}</option>
                              </select>
                             
                            </mat-form-field>
                            
                            <button
                              mat-mini-fab
                              color="warn"
                              [disabled]="!satirEsyaForm.valid"
                              (click)="deleteSatirEsyaField(i)"
                            >
                              <mat-icon>delete forever</mat-icon>
                            </button>
                          </div>
                        </div>
                      </div>
    
                      <mat-divider></mat-divider>
                      <mat-card-actions>
                        <button
                          [disabled]="!satirEsyaForm.valid"
                          mat-raised-button
                          (click)="addSatirEsyaField()"
                        >
                          <mat-icon>add box</mat-icon>
                          Eşya Satırı Ekle
                        </button></mat-card-actions
                      >
                    </mat-card>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-outline-dark"
                        [disabled]="!satirEsyaBilgileri.valid"
                        (click)="modal.dismiss('Save Click')"
                      >
                        Kaydet
                      </button>
                    </div>
                  </div>
                </form>
              </mat-card>
            </div>
          </ng-template>
        </div>
    </div>   
</div>




