<button 
mat-mini-fab
type="button"  
color="primary"
class="close pull-right" (click)="close(false)">
<mat-icon>close</mat-icon>
</button>
<br/>
<mat-accordion class="example-headers-align">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          GUID:{{this.guidOf}}
         </mat-panel-title>
        <mat-panel-description>
          Islem NO:{{this.islemInternalNo}}
          <mat-icon>apps</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>     
  
      <!-- <mat-form-field>
        <mat-label>Döviz Alış Kuru</mat-label>
        <input matInput  value="{{dovizKuruAlis}}" readonly>
      </mat-form-field>
   -->
     
      <mat-action-row>
        <button mat-button color="primary" (click)="nextStep()"><mat-icon>arrow_forward</mat-icon></button>
      </mat-action-row>
    </mat-expansion-panel>
  
    <mat-expansion-panel class={{ngClass}} [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
      <mat-expansion-panel-header >
        <mat-panel-title>
         Hatalar({{hataSayisi}})
        </mat-panel-title>
        <mat-panel-description>            
          <mat-icon>report_problem</mat-icon> 
        </mat-panel-description>
      </mat-expansion-panel-header>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>         
            <th>Hata Kodu</th>
            <th>Hata Açıklaması</th>         
                           
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of _sonucHatalar">
           
            <td>{{ item.hataKodu }}</td>
            <td>{{ item.hataAciklamasi }}</td>
         
          </tr>
        </tbody>
      </table>
      <mat-action-row>
        <button mat-button color="primary" (click)="prevStep()"> <mat-icon>arrow_back</mat-icon></button>
        <button mat-button color="primary" (click)="nextStep()"><mat-icon>arrow_forward</mat-icon></button>
      </mat-action-row>
      
    </mat-expansion-panel>

  
</mat-accordion>