
<div class="menu">
    <ul class="list">        
    <mat-nav-list routerLinkActive="active"> 
        
        <a mat-list-item routerLink="/app/genel" (click)="onSidenavClose()">
            <mat-icon>home</mat-icon> <span class="nav-caption" >Ana Sayfa</span>
        </a>
        <a mat-list-item  *ngIf="AdminRole" routerLink="/app/musteriler" (click)="onSidenavClose()">
            <mat-icon>business</mat-icon> <span>Müşteriler</span>
        </a>
        <a mat-list-item  *ngIf="AdminRole" routerLink="/app/kullanicilar" (click)="onSidenavClose()">
            <mat-icon>people</mat-icon> <span class="nav-caption">Kullanıcılar</span>
        </a>
        <a mat-list-item  *ngIf="AdminRole" routerLink="/app/yetkiler" (click)="onSidenavClose()">
            <mat-icon>local_offer</mat-icon> <span class="nav-caption">Yetkiler</span>
        </a>
        <a  mat-list-item  *ngIf="BeyannameRole"  routerLink="/app/beyanname" (click)="onSidenavClose()"  [matMenuTriggerFor]="beyan">
            <mat-icon>description</mat-icon> <span class="nav-caption">Beyanname</span>     
        </a>
        <a  mat-list-item  *ngIf="OzetBeyannRole"  routerLink="/app/ozetbeyan" (click)="onSidenavClose()"  [matMenuTriggerFor]="ozetbeyan">
            <mat-icon>assignment</mat-icon> <span class="nav-caption">Özet Beyan</span>     
        </a>
        <a mat-list-item routerLink="/app/islemler" (click)="onSidenavClose()" >
            <mat-icon>list</mat-icon> <span class="nav-caption">İşlemler</span>   
        </a>
        <!-- <a mat-list-item routerLink="#" (click)="onSidenavClose()">
            <mat-icon>account_balance</mat-icon><span class="nav-caption">Account Actions</span>
        </a>  -->    
    
        <mat-menu #beyan="matMenu">     
            <!-- <button mat-menu-item [matMenuTriggerFor]="kalem" routerLink="/app/kalem">Kalemler</button>    -->
            <button mat-menu-item routerLink="/app/kalem">Kalemler</button>
             <button mat-menu-item routerLink="/app/dbozetbeyanacma">Özet Beyan Açma</button>
            <button mat-menu-item  routerLink="/app/kiymet">Kıymet Bildirim</button>
            <button mat-menu-item routerLink="/app/dbteminat">Teminat</button>
            <button mat-menu-item routerLink="/app/firma">Firma</button>
        </mat-menu>
        <mat-menu #ozetbeyan="matMenu">     
            <button mat-menu-item routerLink="/app/tasimasenet">Taşıma Senet</button>
            <button mat-menu-item routerLink="/app/obozetbeyanacma">Özet Beyan Açma</button>
            <button mat-menu-item routerLink="/app/tasiyicifirma">Taşıyıcı Firma</button>
            <button mat-menu-item routerLink="/app/obteminat">Teminat</button>
          
        </mat-menu>
        <!-- <mat-menu #kalem="matMenu">
            <button mat-menu-item>Marka</button>
            <button mat-menu-item>Ödeme Şekilleri</button>
            <button mat-menu-item>Açmalar</button>        
            <button mat-menu-item>Konteyner</button>
            <button mat-menu-item>Tamamlayıcı Bilgi</button>       
        </mat-menu> -->
        <mat-menu #amphibians="matMenu"></mat-menu>
        <mat-menu #reptiles="matMenu"></mat-menu>
    
    </mat-nav-list>
    </ul>
</div>

