<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.1.0" newVersion="1.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="GTB_CMN_NVI_WS_Provider_KpsWS_Binder" />
        <binding name="BasicHttpBinding_Gumruk_Biztalk_EImzaTescil_Kontrol_KontrolTalepPortSoap" />
        <binding name="BasicHttpsBinding_Gumruk_Biztalk_EImzaTescil_Kontrol_KontrolTalepPortSoap">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_Gumruk_Biztalk_EImzaTescil_Tescil_PortTescilSoap" />
        <binding name="GumrukWSSoap" />
        <binding name="BasicHttpBinding_Gumruk_Biztalk_EImzaTescil_YeniOzetBeyan_YeniOzetBeyanTalepSoap" />
        <binding name="BasicHttpBinding_Gumruk_Biztalk_MesaiBasvuruSoap" />
        <binding name="BasicHttpsBinding_Gumruk_Biztalk_MesaiBasvuruSoap">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_Gumruk_Biztalk_IGHB" />
        <binding name="BasicHttpsBinding_Gumruk_Biztalk_IGHB">
          <security mode="Transport" />
        </binding>
        <binding name="WS2ServicePortBinding" />
      </basicHttpBinding>
      <customBinding>
        <binding name="GumrukWSSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://ws.gtb.gov.tr:8080/GTB_KPSV2" binding="basicHttpBinding"
        bindingConfiguration="GTB_CMN_NVI_WS_Provider_KpsWS_Binder"
        contract="KpsWs.KpsWS_PortType" name="GTB_CMN_NVI_WS_Provider_KpsWS_Port" />
      <endpoint address="http://wstest.gtb.gov.tr:8080/EXT/Gumruk/EGE/Provider/KontrolHizmetiWS"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Gumruk_Biztalk_EImzaTescil_Kontrol_KontrolTalepPortSoap"
        contract="KontrolHizmeti.Gumruk_Biztalk_EImzaTescil_Kontrol_KontrolTalepPortSoap"
        name="BasicHttpBinding_Gumruk_Biztalk_EImzaTescil_Kontrol_KontrolTalepPortSoap" />
      <endpoint address="http://wstest.gtb.gov.tr:8080/EXT/Gumruk/EGE/Provider/KontrolHizmetiWS"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_Gumruk_Biztalk_EImzaTescil_Kontrol_KontrolTalepPortSoap"
        contract="KontrolHizmeti.Gumruk_Biztalk_EImzaTescil_Kontrol_KontrolTalepPortSoap"
        name="BasicHttpsBinding_Gumruk_Biztalk_EImzaTescil_Kontrol_KontrolTalepPortSoap" />
      <endpoint address="http://ws.gtb.gov.tr:8080/EXT/Gumruk/EGE/Provider/TescilWS"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Gumruk_Biztalk_EImzaTescil_Tescil_PortTescilSoap"
        contract="TescilHizmeti.Gumruk_Biztalk_EImzaTescil_Tescil_PortTescilSoap"
        name="BasicHttpBinding_Gumruk_Biztalk_EImzaTescil_Tescil_PortTescilSoap" />
      <endpoint address="http://wstest.gtb.gov.tr:8080/EXT/Gumruk/EGE/Provider/GumrukWS"
        binding="basicHttpBinding" bindingConfiguration="GumrukWSSoap"
        contract="SorgulamaHizmeti.GumrukWSSoap" name="GumrukWSSoap" />
      <endpoint address="http://wstest.gtb.gov.tr:8080/EXT/Gumruk/EGE/Provider/GumrukWS"
        binding="customBinding" bindingConfiguration="GumrukWSSoap12"
        contract="SorgulamaHizmeti.GumrukWSSoap" name="GumrukWSSoap12" />
      <endpoint address="http://ws.gtb.gov.tr:8080/EXT/Gumruk/EGE/Provider/OzetBeyanWS"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Gumruk_Biztalk_EImzaTescil_YeniOzetBeyan_YeniOzetBeyanTalepSoap"
        contract="OzetBeyanHizmeti.Gumruk_Biztalk_EImzaTescil_YeniOzetBeyan_YeniOzetBeyanTalepSoap"
        name="BasicHttpBinding_Gumruk_Biztalk_EImzaTescil_YeniOzetBeyan_YeniOzetBeyanTalepSoap" />
      <endpoint address="http://wstest.gtb.gov.tr:8080/EXT/Gumruk/EGE/Provider/FazlaMesaiWS"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Gumruk_Biztalk_MesaiBasvuruSoap"
        contract="MesaiHizmeti.Gumruk_Biztalk_MesaiBasvuruSoap" name="BasicHttpBinding_Gumruk_Biztalk_MesaiBasvuruSoap" />
      <endpoint address="http://wstest.gtb.gov.tr:8080/EXT/Gumruk/EGE/Provider/FazlaMesaiWS"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_Gumruk_Biztalk_MesaiBasvuruSoap"
        contract="MesaiHizmeti.Gumruk_Biztalk_MesaiBasvuruSoap" name="BasicHttpsBinding_Gumruk_Biztalk_MesaiBasvuruSoap" />
      <endpoint address="http://wstest.gtb.gov.tr:8080/EXT/Gumruk/EGE/Provider/IGHB"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Gumruk_Biztalk_IGHB"
        contract="IGHBHizmeti.Gumruk_Biztalk_IGHB" name="BasicHttpBinding_Gumruk_Biztalk_IGHB" />
      <endpoint address="http://wstest.gtb.gov.tr:8080/EXT/Gumruk/EGE/Provider/IGHB"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_Gumruk_Biztalk_IGHB"
        contract="IGHBHizmeti.Gumruk_Biztalk_IGHB" name="BasicHttpsBinding_Gumruk_Biztalk_IGHB" />
      <endpoint address="http://wstest.gtb.gov.tr:8080/EXT/Gumruk/NCTS/Provider/NCTS2SWS"
        binding="basicHttpBinding" bindingConfiguration="WS2ServicePortBinding"
        contract="NctsHizmeti.WS2Service" name="WS2ServicePort" />
    </client>
  </system.serviceModel>
</configuration>