<div class="row clearfix" [@routerTransition]>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card main-content">
      <div class="header">
        <h2>Kullanıcılar</h2>
        <ul class="header-dropdown m-r--5">
          <li>
            <button
              mat-icon-button
              [matMenuTriggerFor]="headerMenu"
              class="header-dropdown-mat-icon-button"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #headerMenu="matMenu">
              <button mat-menu-item (click)="yenileKullanicilar()">
                <mat-icon>refresh</mat-icon>
                <span>Yenile</span>
              </button>
            </mat-menu>
          </li>
        </ul>
      </div>
      <div class="body table-responsive">
      
        <table class="table table-hover table-striped" >
          <thead>
            <tr>
              <th [style.flex]="'0 0 80px'">{{ "Müşteri No"}}</th>
              <th [style.flex]="'0 0 80px'">{{ "Firma No"}}</th>
              <th [style.flex]="'0 0 80px'">{{ "Kullanıcı Kodu"}}</th>
              <th [style.flex]="'0 0 120px'">{{ "Ad"}}</th>
              <th [style.flex]="'0 0 100px'">{{ "Soyad" }}</th>      
              <th [style.flex]="'0 0 80px'">{{ "Vergi No" }}</th>            
              <th [style.flex]="'0 0 250px'">{{ "Firma" }}</th>        
              <th [style.flex]="'0 0 50px'">{{ "Aktif" }}</th>            
              <th [style.flex]="'0 0 50px'">{{ "İşlem"  }}</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let kullanici of kullaniciDataSource                
              "
            >
            <td [style.flex]="'0 0 80px'">{{ kullanici.musteriNo }}</td>
            <td [style.flex]="'0 0 80px'">{{ kullanici.firmaNo }}</td>
              <td [style.flex]="'0 0 80px'">{{ kullanici.kullaniciKod }}</td>
              <td [style.flex]="'0 0 120px'">{{ kullanici.ad }}</td>
              <td [style.flex]="'0 0 100px'">{{ kullanici.soyad }}</td>
              <td [style.flex]="'0 0 80px'">{{ kullanici.vergiNo }}</td>
              <td [style.flex]="'0 0 250px'">{{ kullanici.firmaAd }}</td>
              <td [style.flex]="'0 0 50px'">{{ kullanici.aktif }}</td>
              <td [style.flex]="'0 0 50px'">
                <button class="action-button" mat-icon-button [matMenuTriggerFor]="actionsMenu">
                  <mat-icon>menu</mat-icon>
                </button>
                <mat-menu #actionsMenu="matMenu">
                  <button mat-menu-item (click)="degistirKullanici(kullanici)">
                    <mat-icon>edit</mat-icon>
                    <span>{{ "Düzelt"  }}</span>
                  </button>
                  <button mat-menu-item (click)="silKullanici(kullanici)">
                    <mat-icon>delete</mat-icon>
                    <span>{{ "Sil" }}</span>
                  </button>
                </mat-menu>
              </td>
            </tr>
          </tbody>
        </table>
     
        <button
          mat-mini-fab
          color="primary"
          class="pull-right"
          (click)="yeniKullanici()"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>

