<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="İşlem No" #islemNo />
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      (click)="getBeyanname(islemNo)"
    >
      Sorgula
    </button>
  </form>
  <div class="card m-3">
    <h5 class="card-header text-center">Beyanname Bilgileri</h5>
    <div class="card-body text-center">
      <mat-form-field >
        <mat-label>Beyanname No</mat-label>
        <input
          matInput
          readonly
          name="Geçici BeyannameNo"
          [(ngModel)]="_beyanname.beyanInternalNo"
        />
      </mat-form-field>
      <button
        mat-icon-button
        [matMenuTriggerFor]="beyannameheaderMenu"
        class="header-dropdown-mat-icon-button"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #beyannameheaderMenu="matMenu">
        <button mat-menu-item (click)="yeniBeyanname()">
          <mat-icon>add</mat-icon>
          <span>Yeni Beyanname</span>
        </button>
        <button mat-menu-item (click)="duzeltBeyanname()" [disabled]="_beyanname.tescilStatu === 'Olusturuldu' ? false : true" >
          <mat-icon>sync</mat-icon>
          <span>Beyanname Düzeltme</span>
        </button>

        <button mat-menu-item (click)="getBeyannameKopyalama(islemNo)" [disabled]="_beyanname.tescilStatu ==='Olusturuldu' ? false : true" >
          <mat-icon>file_copy</mat-icon>
          <span>Beyanname Kopyala</span>
        </button>
      </mat-menu>
      <mat-cell [style.flex]="'0 0 250px'" *matCellDef="let element">
      </mat-cell>
      <mat-label>{{_beyanname.tescilStatu}}</mat-label>
      
      <form [formGroup]="beyannameForm" (ngSubmit)="onbeyannameFormSubmit()">
        <mat-card class="mat-card">
          <div class="example-box">
            <mat-tab-group>
              <mat-tab label="Genel Bilgiler">
                <div class="form-row">                               
                  <div class="form-group col">
                    <mat-form-field>
                      <mat-label>Gümrük</mat-label>
                      <select
                        matNativeControl
                        formControlName="gumruk"
                        class="form-control"
                        [ngClass]="{
                          'is-invalid': submitted && focus.gumruk.errors
                        }"
                      >
                        <option *ngFor="let g of _gumrukList" [value]="g.kod">{{
                          g.kod
                        }}</option>
                      </select>
                      <div
                        *ngIf="submitted && focus.gumruk.errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="focus.gumruk.errors.required">
                          Gümrük Zorunlu
                        </div>
                      </div>
                    </mat-form-field>
                  </div>
                  <div class="form-group col">
                    <mat-form-field>
                      <mat-label>Rejim</mat-label>
                      <select
                        matNativeControl
                        formControlName="rejim"
                        class="form-control"
                        [ngClass]="{
                          'is-invalid': submitted && focus.rejim.errors
                        }"
                      >
                        <option *ngFor="let r of _rejimList" [value]="r.kod">{{
                          r.kod
                        }}</option>
                      </select>
                      <div
                        *ngIf="submitted && focus.rejim.errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="focus.rejim.errors.required">
                          Rejim Zorunlu
                        </div>
                      </div>
                    </mat-form-field>
                  </div>
                 <div class="form-group col">
                    <mat-form-field>
                      <mat-label>Basitleştirilmiş Usul</mat-label>
                      <select
                        matNativeControl
                        formControlName="basitlestirilmisUsul"
                        class="form-control"
                        [ngClass]="{
                          'is-invalid':
                            submitted && focus.basitlestirilmisUsul.errors
                        }"
                      >
                        <option *ngFor="let b of _bsList" [value]="b.kod">{{
                          b.kod
                        }}</option>
                      </select>
                      <div
                        *ngIf="submitted && focus.basitlestirilmisUsul.errors"
                        class="invalid-feedback"
                      ></div>
                    </mat-form-field>
                  </div>
                  <div class="form-group col">
                    <mat-form-field>
                      <mat-label>Alıcı Satıcı İlişkisi</mat-label>
                      <select
                        matNativeControl
                        formControlName="aliciSaticiIliskisi"
                        class="form-control"
                        [ngClass]="{
                          'is-invalid':
                            submitted && focus.aliciSaticiIliskisi.errors
                        }"
                      >
                        <option
                          *ngFor="let s of _aliciSaticiList"
                          [value]="s.kod"
                          >{{ s.kod }}</option
                        >
                      </select>
                      <div
                        *ngIf="submitted && focus.aliciSaticiIliskisi.errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="focus.aliciSaticiIliskisi.errors.required">
                          Alıcı Satıcı İlişkisi Zorunlu
                        </div>
                      </div>
                    </mat-form-field>
                  </div>
                  <div class="form-group col">
                    <mat-form-field>
                      <mat-label>İşlemin Niteliği</mat-label>
                      <select
                        matNativeControl
                        formControlName="isleminNiteligi"
                        class="form-control"
                        [ngClass]="{
                          'is-invalid':
                            submitted && focus.isleminNiteligi.errors
                        }"
                      >
                        <option
                          *ngFor="let s of _isleminNiteligiList"
                          [value]="s.kod"
                          >{{ s.kod }}</option
                        >
                      </select>
                      <div
                        *ngIf="submitted && focus.isleminNiteligi.errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="focus.isleminNiteligi.errors.required">
                         İşlemin Niteliği Zorunlu
                        </div>
                      </div>
                    </mat-form-field>
                  </div>
                  <div class="form-group col">
                    <mat-form-field>
                      <mat-label>Kap Adedi</mat-label>
                      <input
                        matNativeControl
                        type="text"
                        formControlName="kapAdedi"
                        class="form-control"
                        [ngClass]="{
                          'is-invalid': submitted && focus.kapAdedi.errors
                        }"
                      />
                      <div
                        *ngIf="submitted && focus.kapAdedi.errors"
                        class="invalid-feedback"
                      ></div>
                    </mat-form-field>
                  </div>   
                  <div class="form-group col">
                    <mat-form-field>
                      <mat-label>Referans Tarihi</mat-label>
                      <input
                        readonly
                        matNativeControl
                        [matDatepicker]="referansTarihi"
                        formControlName="referansTarihi"
                        class="form-control "
                         [ngClass]="{'is-invalid':submitted && focus.referansTarihi.errors}"
                      />
                      <mat-datepicker-toggle matSuffix [for]="referansTarihi"></mat-datepicker-toggle>
                      <mat-datepicker touchUi="true" #referansTarihi></mat-datepicker>
                   
                      <div
                        *ngIf="submitted && focus.referansTarihi.errors"
                        class="invalid-feedback"
                      >
                      <div *ngIf="focus.referansTarihi.invalid && (focus.referansTarihi.dirty||focus.referansTarihi.touched)" class="alert alert-danger">
                        Referans Tarihi Zorunlu
                       </div>
                      
                    </div>
                    </mat-form-field>
                  </div>    
                  <div class="form-group col">
                    <mat-form-field>
                      <mat-label>Tescil Tarihi</mat-label>
                      <input
                        readonly
                        matNativeControl
                        formControlName="tescilTarihi"
                        class="form-control "
                         [ngClass]="{'is-invalid':submitted && focus.tescilTarihi.errors}"
                      />
                  
                      <div
                        *ngIf="submitted && focus.tescilTarihi.errors"
                        class="invalid-feedback"
                      >
                     
                    </div>
                    </mat-form-field>
                  </div>    
                  <div class="form-group col">
                    <mat-form-field>
                      <mat-label>Refarans No</mat-label>
                      <input
                        matNativeControl
                        type="text"
                        formControlName="refNo"
                        class="form-control"
                        [ngClass]="{
                          'is-invalid': submitted && focus.refNo.errors
                        }"
                      />
                      <div
                        *ngIf="submitted && focus.refNo.errors"
                        class="invalid-feedback"
                      ></div>
                    </mat-form-field>
                  </div>  
                  <div class="form-group col">
                    <mat-form-field>
                      <mat-label>Birlik Kayıt Numarası</mat-label>
                      <input
                        
                        matNativeControl
                        type="text"
                        formControlName="birlikKayitNumarasi"
                        class="form-control"
                        [ngClass]="{
                          'is-invalid': submitted && focus.birlikKayitNumarasi.errors
                        }"
                      />
                      <div
                        *ngIf="submitted && focus.birlikKayitNumarasi.errors"
                        class="invalid-feedback"
                      ></div>
                    </mat-form-field>
                  </div>
                  <div class="form-group col">
                    <mat-form-field>
                      <mat-label>Birlik Kriptosu</mat-label>
                      <input
                        
                        matNativeControl
                        type="text"
                        formControlName="birlikKriptoNumarasi"
                        class="form-control"
                        [ngClass]="{
                          'is-invalid': submitted && focus.birlikKriptoNumarasi.errors
                        }"
                      />
                      <div
                        *ngIf="submitted && focus.birlikKriptoNumarasi.errors"
                        class="invalid-feedback"
                      ></div>
                    </mat-form-field>
                  </div>              
                
                  <div class="card m-2">
                    <div  class="row">
                    <div class="form-group col">
                        <mat-form-field>
                          <mat-label>Kullanıcı</mat-label>
                          <input
                            readonly
                            matNativeControl
                            type="text"
                            formControlName="kullanici"
                            class="form-control"
                            [ngClass]="{
                              'is-invalid': submitted && focus.kullanici.errors
                            }"
                          />
                          <div
                            *ngIf="submitted && focus.kullanici.errors"
                            class="invalid-feedback"
                          ></div>
                        </mat-form-field>
                    </div>   
                    <div class="form-group col">
                      <mat-form-field>
                        <mat-label>Alıcı Vergi No</mat-label>
                        <input
                          matNativeControl
                          type="text"
                          formControlName="aliciVergiNo"
                          class="form-control"
                          [ngClass]="{
                            'is-invalid': submitted && focus.aliciVergiNo.errors
                          }"
                        />
                        <div
                          *ngIf="submitted && focus.aliciVergiNo.errors"
                          class="invalid-feedback"
                        ></div>
                      </mat-form-field>
                    </div>
                    <div class="form-group col">
                      <mat-form-field>
                        <mat-label>Gönderici Vergi No</mat-label>
                        <input
                          matNativeControl
                          type="text"
                          formControlName="gondericiVergiNo"
                          class="form-control"
                          [ngClass]="{
                            'is-invalid': submitted && focus.gondericiVergiNo.errors
                          }"
                        />
                        <div
                          *ngIf="submitted && focus.gondericiVergiNo.errors"
                          class="invalid-feedback"
                        ></div>
                      </mat-form-field>
                    </div>
                    <div class="form-group col">
                      <mat-form-field>
                        <mat-label>Beyan Sahibi Vergi No</mat-label>
                        <input
                          matNativeControl
                          type="text"
                          formControlName="beyanSahibiVergiNo"
                          class="form-control"
                          [ngClass]="{
                            'is-invalid': submitted && focus.beyanSahibiVergiNo.errors
                          }"
                        />
                        <div
                          *ngIf="submitted && focus.beyanSahibiVergiNo.errors"
                          class="invalid-feedback"
                        >
                          <div *ngIf="focus.beyanSahibiVergiNo.errors.required">
                            Beyan Sahibi Vergi No Zorunlu
                          </div>
                        </div>
                      </mat-form-field>
                    </div>
                    <div class="form-group col">
                      <mat-form-field>
                        <mat-label>Müşavir Vergi No</mat-label>
                        <input
                          matNativeControl
                          type="text"
                          formControlName="musavirVergiNo"
                          class="form-control"
                          [ngClass]="{
                            'is-invalid': submitted && focus.musavirVergiNo.errors
                          }"
                        />
                        <div
                          *ngIf="submitted && focus.musavirVergiNo.errors"
                          class="invalid-feedback"
                        ></div>
                      </mat-form-field>
                    </div>                    
                    <div class="form-group col">
                      <mat-form-field>
                        <mat-label>Asıl Sorumlu Vergi No</mat-label>
                        <input
                          matNativeControl
                          type="text"
                          formControlName="asilSorumluVergiNo"
                          class="form-control"
                          [ngClass]="{
                            'is-invalid': submitted && focus.asilSorumluVergiNo.errors
                          }"
                        />
                        <div
                          *ngIf="submitted && focus.asilSorumluVergiNo.errors"
                          class="invalid-feedback"
                        ></div>
                      </mat-form-field>
                    </div>
                    <div class="form-group col">
                      <mat-form-field>
                        <mat-label>Müşavir Referans No</mat-label>
                        <input
                          matNativeControl
                          type="text"
                          formControlName="musavirReferansNo"
                          class="form-control"
                          [ngClass]="{
                            'is-invalid': submitted && focus.musavirReferansNo.errors
                          }"
                        />
                        <div
                          *ngIf="submitted && focus.musavirReferansNo.errors"
                          class="invalid-feedback"
                        >
                        <div *ngIf="focus.musavirReferansNo.errors.required">
                         Müşavir Referans No Zorunlu
                        </div>
                      </div>
                      </mat-form-field>
                    </div>
                  </div>
                  </div>
                 <div class="card m-2">  
                   <div  class="row">                 
                    <div  class="form-group col">
                      <mat-form-field>
                        <mat-label>Çıkış Ülkesi</mat-label>
                        <select
                        matNativeControl
                        formControlName="cikisUlkesi"
                        class="form-control"
                        [ngClass]="{
                          'is-invalid': submitted && focus.cikisUlkesi.errors
                        }"
                      >
                        <option *ngFor="let u of _ulkeList" [value]="u.kod">{{
                          u.kod
                        }}</option>
                      </select>
                        <div
                          *ngIf="submitted && focus.cikisUlkesi.errors"
                          class="invalid-feedback"
                        >  <div *ngIf="focus.cikisUlkesi.errors.required">
                          Çıkış Ülkesi Zorunlu
                        </div>
                      </div>
                      </mat-form-field>
                    </div>
                    <div class="form-group col">
                      <mat-form-field>
                        <mat-label>Gideceği Ülke</mat-label>
                        <select
                        matNativeControl
                        formControlName="gidecegiUlke"
                        class="form-control"
                        [ngClass]="{
                          'is-invalid': submitted && focus.gumruk.errors
                        }"
                      >
                        <option *ngFor="let u of _ulkeList" [value]="u.kod">{{
                          u.kod
                        }}</option>
                        </select>
                        <div
                          *ngIf="submitted && focus.gidecegiUlke.errors"
                          class="invalid-feedback"
                        >
                        <div *ngIf="focus.gidecegiUlke.errors.required">
                          Gideceği Ülkesi Zorunlu
                        </div>
                      </div>
                      </mat-form-field>
                    </div>
                    <div class="form-group col">
                      <mat-form-field>
                        <mat-label>Ticaret Ülkesi</mat-label>
                        <select
                        matNativeControl
                        formControlName="ticaretUlkesi"
                        class="form-control"
                        [ngClass]="{
                          'is-invalid': submitted && focus.gumruk.errors
                        }"
                      >
                        <option *ngFor="let u of _ulkeList" [value]="u.kod">{{
                          u.kod
                        }}</option>
                        </select>
                        <div
                          *ngIf="submitted && focus.ticaretUlkesi.errors"
                          class="invalid-feedback"
                        >
                          <div *ngIf="focus.beyanSahibiVergiNo.errors.required">
                            Ticaret Ülkesi Zorunlu
                          </div>
                        </div>
                      </mat-form-field>
                    </div>
                    <div class="form-group col">
                      <mat-form-field>
                        <mat-label>Gideceği Sevk Ülkesi</mat-label>
                        <select
                        matNativeControl
                        formControlName="gidecegiSevkUlkesi"
                        class="form-control"
                        [ngClass]="{
                          'is-invalid': submitted && focus.gumruk.errors
                        }"
                      >
                        <option *ngFor="let u of _ulkeList" [value]="u.kod">{{
                          u.kod
                        }}</option>
                        </select>
                        <div
                          *ngIf="submitted && focus.gidecegiSevkUlkesi.errors"
                          class="invalid-feedback"
                        > <div *ngIf="focus.gidecegiSevkUlkesi.errors.required">
                          Ticaret Ülkesi Zorunlu
                        </div>
                      </div>
                      </mat-form-field>
                    </div>              
                  </div>          
                  </div>               
                  
                </div>
                <div class="card m-2">
                 <div class="form-group col">                  
                    <mat-label>Açıklamalar</mat-label>
                    <textarea                                    
                      type="text"                    
                      rows="3"
                      formControlName="aciklamalar"
                      class="form-control"
                      [ngClass]="{
                        'is-invalid': submitted && focus.aciklamalar.errors
                      }"
                    ></textarea>

                    <div
                      *ngIf="submitted && focus.aciklamalar.errors"
                      class="invalid-feedback"
                    ></div>
                 
                </div> 
                </div>
              </mat-tab>
              <mat-tab label="Finansal Bilgiler"> 
                <div class="form-row">        
                <div class="form-group col">
                  <mat-form-field>
                    <mat-label>Teslim Şekli</mat-label>
                    <select
                      matNativeControl
                      formControlName="teslimSekli"
                      class="form-control"
                      [ngClass]="{
                        'is-invalid': submitted && focus.teslimSekli.errors
                      }"
                    >
                      <option *ngFor="let g of _teslimList" [value]="g.kod">{{
                        g.kod
                      }}</option>
                    </select>
                    <div
                      *ngIf="submitted && focus.teslimSekli.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="focus.teslimSekli.errors.required">
                        Teslim Şekli Zorunlu
                      </div>
                    </div>
                  </mat-form-field>
                </div>
                <div class="form-group col">
                  <mat-form-field>
                    <mat-label>Teslim Şekli Yeri</mat-label>
                    <input
                      matNativeControl
                      type="text"
                      formControlName="teslimSekliYeri"
                      class="form-control"
                      [ngClass]="{
                        'is-invalid': submitted && focus.teslimSekliYeri.errors
                      }"
                    />
                    <div
                      *ngIf="submitted && focus.teslimSekliYeri.errors"
                      class="invalid-feedback"
                    >
                    <div *ngIf="focus.teslimSekliYeri.errors.required">
                      Teslim Şekli Yeri Zorunlu
                     </div>
                  </div>
                  </mat-form-field>
                </div>
                <div class="form-group col">
                  <mat-form-field>
                    <mat-label>Banka Kodu</mat-label>
                    <input
                      matNativeControl
                      type="text"
                      formControlName="bankaKodu"
                      class="form-control"
                      [ngClass]="{
                        'is-invalid': submitted && focus.bankaKodu.errors
                      }"
                    />
                    <div
                      *ngIf="submitted && focus.bankaKodu.errors"
                      class="invalid-feedback"
                    ></div>
                  </mat-form-field>
                </div>
                <div class="form-group col">
                  <mat-form-field>
                    <mat-label>Telafi Edici Vergi</mat-label>
                    <input
                      matNativeControl
                      type="text"
                      formControlName="telafiEdiciVergi"
                      class="form-control"
                      [ngClass]="{
                        'is-invalid': submitted && focus.telafiEdiciVergi.errors
                      }"
                    />
                    <div
                      *ngIf="submitted && focus.telafiEdiciVergi.errors"
                      class="invalid-feedback"
                    ></div>
                  </mat-form-field>
                </div>
                <div class="form-group col-sm-4">
                  <mat-form-field>
                    <mat-label>Yurt Dışı Harcamalar Dövizi</mat-label>
                    <select
                      matNativeControl
                      formControlName="toplamYurtDisiHarcamalarDovizi"
                      class="form-control"
                      [ngClass]="{
                        'is-invalid': submitted && focus.toplamYurtDisiHarcamalarDovizi.errors
                      }"
                    >
                      <option *ngFor="let g of _dovizList" [value]="g.kod">{{
                        g.kod
                      }}</option>
                    </select>
                    <div
                      *ngIf="submitted && focus.toplamYurtDisiHarcamalarDovizi.errors"
                      class="invalid-feedback"
                    >                   
                    </div>
                  </mat-form-field>
                </div>
                <div class="form-group col-sm-4">
                  <mat-form-field>
                    <mat-label>Yurt Dışı Harcamalar Tutarı</mat-label>
                    <input
                      matNativeControl
                      type="text"
                      formControlName="toplamYurtDisiHarcamalar"
                      class="form-control"
                      [ngClass]="{
                        'is-invalid': submitted && focus.toplamYurtDisiHarcamalar.errors
                      }"
                    />
                    <div
                      *ngIf="submitted && focus.toplamYurtDisiHarcamalar.errors"
                      class="invalid-feedback"
                    >
                   
                  </div>
                  </mat-form-field>
                </div>
                <div class="form-group col-sm-4">
                  <mat-form-field>
                    <mat-label>Yurt İçi Harcamalar Tutarı</mat-label>
                    <input
                      matNativeControl
                      type="text"
                      formControlName="toplamYurtIciHarcamalar"
                      class="form-control"
                      [ngClass]="{
                        'is-invalid': submitted && focus.toplamYurtIciHarcamalar.errors
                      }"
                    />
                    <div
                      *ngIf="submitted && focus.toplamYurtIciHarcamalar.errors"
                      class="invalid-feedback"
                    >
                   
                  </div>
                  </mat-form-field>
                </div>
                <div class="card m-3">
                <div class="form-group col">
                  <mat-form-field>
                    <mat-label>Fatura Dövizi</mat-label>
                    <select
                      matNativeControl
                      formControlName="toplamFaturaDovizi"
                      class="form-control"
                      [ngClass]="{
                        'is-invalid': submitted && focus.toplamFaturaDovizi.errors
                      }"
                    >
                      <option *ngFor="let g of _dovizList" [value]="g.kod">{{
                        g.kod
                      }}</option>
                    </select>
                    <div
                      *ngIf="submitted && focus.toplamFaturaDovizi.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="focus.toplamFaturaDovizi.errors.required">
                        Fatura Dövizi Zorunlu
                      </div>
                    </div>
                  </mat-form-field>
                </div>
                <div class="form-group col">
                  <mat-form-field>
                    <mat-label>Fatura Tutarı</mat-label>
                    <input
                      matNativeControl
                      type="text"
                      formControlName="toplamFatura"
                      class="form-control"
                      [ngClass]="{
                        'is-invalid': submitted && focus.toplamFatura.errors
                      }"
                    />
                    <div
                      *ngIf="submitted && focus.toplamFatura.errors"
                      class="invalid-feedback"
                    >
                    <div *ngIf="focus.toplamFatura.errors.required">
                      Fatura Tutarı Zorunlu
                    </div>
                  </div>
                  </mat-form-field>
                </div>
                </div>
                <div class="card m-3">
                  <div class="form-group col">
                    <mat-form-field>
                      <mat-label>Navlun Dövizi</mat-label>
                      <select
                        matNativeControl
                        formControlName="toplamNavlunDovizi"
                        class="form-control"
                        [ngClass]="{
                          'is-invalid': submitted && focus.toplamNavlunDovizi.errors
                        }"
                      >
                        <option *ngFor="let g of _dovizList" [value]="g.kod">{{
                          g.kod
                        }}</option>
                      </select>
                      <div
                        *ngIf="submitted && focus.toplamNavlunDovizi.errors"
                        class="invalid-feedback"
                      >
                     
                      </div>
                    </mat-form-field>
                  </div>
                  <div class="form-group col">
                    <mat-form-field>
                      <mat-label>Navlun Tutarı</mat-label>
                      <input
                        matNativeControl
                        type="text"
                        formControlName="toplamNavlun"
                        class="form-control"
                        [ngClass]="{
                          'is-invalid': submitted && focus.toplamNavlun.errors
                        }"
                      />
                      <div
                        *ngIf="submitted && focus.toplamNavlun.errors"
                        class="invalid-feedback"
                      >
                     
                    </div>
                    </mat-form-field>
                  </div>
                 </div>
                 <div class="card m-3">
                  <div class="form-group col">
                    <mat-form-field>
                      <mat-label>Sigorta Dövizi</mat-label>
                      <select
                        matNativeControl
                        formControlName="toplamSigortaDovizi"
                        class="form-control"
                        [ngClass]="{
                          'is-invalid': submitted && focus.toplamSigortaDovizi.errors
                        }"
                      >
                        <option *ngFor="let g of _dovizList" [value]="g.kod">{{
                          g.kod
                        }}</option>
                      </select>
                      <div
                        *ngIf="submitted && focus.toplamSigortaDovizi.errors"
                        class="invalid-feedback"
                      >
                     
                      </div>
                    </mat-form-field>
                  </div>
                  <div class="form-group col">
                    <mat-form-field>
                      <mat-label>Sigorta Tutarı</mat-label>
                      <input
                        matNativeControl
                        type="text"
                        formControlName="toplamSigorta"
                        class="form-control"
                        [ngClass]="{
                          'is-invalid': submitted && focus.toplamSigorta.errors
                        }"
                      />
                      <div
                        *ngIf="submitted && focus.toplamSigorta.errors"
                        class="invalid-feedback"
                      >
                     
                    </div>
                    </mat-form-field>
                  </div>
                 </div>
              </div>
              </mat-tab>
              <mat-tab label="Taşıma Bilgiler"> 
             <div class="form-row">
            
              <div class="form-group col">
                  <mat-form-field>
                    <mat-label>Antrepo Kodu</mat-label>
                    <input
                      matNativeControl
                      type="text"
                      formControlName="antrepoKodu"
                      class="form-control"
                      [ngClass]="{
                        'is-invalid': submitted && focus.antrepoKodu.errors
                      }"
                    />
                    <div
                      *ngIf="submitted && focus.antrepoKodu.errors"
                      class="invalid-feedback"
                    ></div>
                  </mat-form-field>
              </div>              
              <div class="form-group col">
                <mat-form-field>
                  <mat-label>Liman Kodu</mat-label>
                  <input
                    matNativeControl
                    type="text"
                    formControlName="limanKodu"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': submitted && focus.limanKodu.errors
                    }"
                  />
                  <div
                    *ngIf="submitted && focus.limanKodu.errors"
                    class="invalid-feedback"
                  ></div>
                </mat-form-field>
              </div>           
              <div class="form-group col">
                <mat-form-field>
                  <mat-label>Giriş Gümrük</mat-label>
                  <select
                    matNativeControl
                    formControlName="girisGumrukIdaresi"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': submitted && focus.girisGumrukIdaresi.errors
                    }"
                  >
                    <option *ngFor="let g of _gumrukList" [value]="g.kod">{{
                      g.kod
                    }}</option>
                  </select>
                  <div
                    *ngIf="submitted && focus.girisGumrukIdaresi.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="focus.girisGumrukIdaresi.errors.required">
                     Giriş Gümrük Zorunlu
                    </div>
                  </div>
                </mat-form-field>
              </div>
              <div class="form-group col">
                <mat-form-field>
                  <mat-label>Varış Gümrük</mat-label>
                  <select
                    matNativeControl
                    formControlName="varisGumrukIdaresi"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': submitted && focus.varisGumrukIdaresi.errors
                    }"
                  >
                    <option *ngFor="let g of _gumrukList" [value]="g.kod">{{
                      g.kod
                    }}</option>
                  </select>
                  <div
                    *ngIf="submitted && focus.varisGumrukIdaresi.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="focus.varisGumrukIdaresi.errors.required">
                      Varış Gümrük Zorunlu
                    </div>
                  </div>
                </mat-form-field>
              </div>
              <div class="form-group col">
                <mat-form-field>
                  <mat-label>Tasarlanan Güzergah</mat-label>
                  <input
                    matNativeControl
                    type="text"
                    formControlName="tasarlananGuzergah"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': submitted && focus.tasarlananGuzergah.errors
                    }"
                  />
                  <div
                    *ngIf="submitted && focus.tasarlananGuzergah.errors"
                    class="invalid-feedback"
                  ></div>
                </mat-form-field>
              </div>
              <div class="form-group col">
                <mat-form-field>
                  <mat-label>Eşyanın Bulunduğu Yer</mat-label>
                  <input
                    matNativeControl
                    type="text"
                    formControlName="esyaninBulunduguYer"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': submitted && focus.esyaninBulunduguYer.errors
                    }"
                  />
                  <div
                    *ngIf="submitted && focus.esyaninBulunduguYer.errors"
                    class="invalid-feedback"
                  ></div>
                </mat-form-field>
              </div>
              <div class="form-group col">
                <mat-form-field>
                  <mat-label>Yükeleme Boşlatma Yeri</mat-label>
                  <input
                    matNativeControl
                    type="text"
                    formControlName="yuklemeBosaltmaYeri"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': submitted && focus.yuklemeBosaltmaYeri.errors
                    }"
                  />
                  <div
                    *ngIf="submitted && focus.yuklemeBosaltmaYeri.errors"
                    class="invalid-feedback"
                  ></div>
                </mat-form-field>
              </div>
              <div class="form-group col">
                <mat-form-field>
                  <mat-label>Yük Belgeleri Sayısı</mat-label>
                  <input
                    matNativeControl
                    type="text"
                    formControlName="yukBelgeleriSayisi"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': submitted && focus.yukBelgeleriSayisi.errors
                    }"
                  />
                  <div
                    *ngIf="submitted && focus.yukBelgeleriSayisi.errors"
                    class="invalid-feedback"
                  ></div>
                </mat-form-field>
              </div>
               <div class="card m-3">
                  <div  class="row">     
                    <div class="form-group col">
                      <mat-form-field>
                        <mat-label>Sınırdaki Taşıma Şekli</mat-label>
                        <select
                        matNativeControl
                        formControlName="sinirdakiTasimaSekli"
                        class="form-control"
                        [ngClass]="{
                          'is-invalid':
                            submitted && focus.sinirdakiTasimaSekli.errors
                        }"
                      >
                        <option
                          *ngFor="let t of _tasimaSekliList"
                          [value]="t.kod"
                          >{{ t.kod }}</option
                        >
                      </select>
                      
                        <div
                          *ngIf="submitted && focus.sinirdakiTasimaSekli.errors"
                          class="invalid-feedback"
                        >
                        <div *ngIf="focus.sinirdakiTasimaSekli.errors.required">
                          Sınırdaki Taşıma Şekli Zorunlu
                        </div>
                      </div>
                      </mat-form-field>
                    </div>             
                  <div class="form-group col">
                    <mat-form-field>
                      <mat-label>Çıkıştaki Aracın Tipi</mat-label>
                      <select
                      matNativeControl
                      formControlName="cikistakiAracinTipi"
                      class="form-control"
                      [ngClass]="{
                        'is-invalid':
                          submitted && focus.cikistakiAracinTipi.errors
                      }"
                    >
                      <option
                        *ngFor="let c of _aracTipiList"
                        [value]="c.kod"
                        >{{ c.kod }}</option
                      >
                    </select>
                    
                      <div
                        *ngIf="submitted && focus.cikistakiAracinTipi.errors"
                        class="invalid-feedback"
                      ><div *ngIf="focus.cikistakiAracinTipi.errors.required">
                       Çıkıştaki aracın tipi zorunlu
                      </div>
                    </div>
                    </mat-form-field>
                  </div>
                  <div class="form-group col">
                    <mat-form-field>
                      <mat-label>Çıkıştaki Aracın Kimliği</mat-label>
                      <input
                        matNativeControl
                        type="text"
                        formControlName="cikistakiAracinKimligi"
                        class="form-control"
                        [ngClass]="{
                          'is-invalid': submitted && focus.cikistakiAracinKimligi.errors
                        }"
                      />
                      <div
                        *ngIf="submitted && focus.cikistakiAracinKimligi.errors"
                        class="invalid-feedback"
                      ><div *ngIf="focus.cikistakiAracinKimligi.errors.required">
                       Çıkıştaki aracın kimliği Zorunlu
                      </div>
                    </div>
                    </mat-form-field>
                  </div>
                  <div class="form-group col">
                    <mat-form-field>
                      <mat-label>Çıkış Araç Ülkesi</mat-label>
                      <select
                        matNativeControl
                        formControlName="cikistakiAracinUlkesi"
                        class="form-control"
                        [ngClass]="{
                          'is-invalid': submitted && focus.cikistakiAracinUlkesi.errors
                        }"
                      >
                        <option *ngFor="let u of _ulkeList" [value]="u.kod">{{
                          u.kod
                        }}</option>
                      </select>
                      <div
                        *ngIf="submitted && focus.cikistakiAracinUlkesi.errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="focus.cikistakiAracinUlkesi.errors.required">
                          Çıkış Araç Ülkesi Zorunlu
                        </div>
                      </div>
                    </mat-form-field>
                  </div>
                  <div class="form-group col">
                    <mat-form-field>
                      <mat-label>Sınırdaki Aracın Tipi</mat-label>
                      <select
                      matNativeControl
                      formControlName="sinirdakiAracinTipi"
                      class="form-control"
                      [ngClass]="{
                        'is-invalid':
                          submitted && focus.sinirdakiAracinTipi.errors
                      }"
                    >
                      <option
                        *ngFor="let s of _aracTipiList"
                        [value]="s.kod"
                        >{{ s.kod }}</option
                      >
                    </select>
                     
                      <div
                        *ngIf="submitted && focus.sinirdakiAracinTipi.errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="focus.sinirdakiAracinTipi.errors.required">
                          Sınırdaki aracın tipi zorunlu
                        </div>
                      </div>
                    </mat-form-field>
                  </div>
                  <div class="form-group col">
                    <mat-form-field>
                      <mat-label>Sınırdaki Aracın Kimliği</mat-label>
                      <input
                        matNativeControl
                        type="text"
                        formControlName="sinirdakiAracinKimligi"
                        class="form-control"
                        [ngClass]="{
                          'is-invalid': submitted && focus.sinirdakiAracinKimligi.errors
                        }"
                      />
                      <div
                        *ngIf="submitted && focus.sinirdakiAracinKimligi.errors"
                        class="invalid-feedback"
                      >
                      <div *ngIf="focus.sinirdakiAracinKimligi.errors.required">
                        Sınırdaki Aracın Kimliği Zorunlu
                      </div>
                    </div>
                    </mat-form-field>
                  </div>
                  <div class="form-group col">
                    <mat-form-field>
                      <mat-label>Sınır Araç Ülkesi</mat-label>
                      <select
                        matNativeControl
                        formControlName="sinirdakiAracinUlkesi"
                        class="form-control"
                        [ngClass]="{
                          'is-invalid': submitted && focus.sinirdakiAracinUlkesi.errors
                        }"
                      >
                        <option *ngFor="let u of _ulkeList" [value]="u.kod">{{
                          u.kod
                        }}</option>
                      </select>
                      <div
                        *ngIf="submitted && focus.sinirdakiAracinUlkesi.errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="focus.sinirdakiAracinUlkesi.errors.required">
                          Sınır Araç Ülkesi Zorunlu
                        </div>
                      </div>
                    </mat-form-field>
                  </div>
               
                </div>
               </div>
               <div class="form-group col">
                <div class="form-group form-check">               
                  <input  type="checkbox" formControlName="konteyner" id="konteyner" class="form-check-input" [ngClass]="{ 'is-invalid': submitted && focus.konteyner.errors }" />
                  <mat-label for="konteyner" class="form-check-label">Konteyner</mat-label>
                  <div *ngIf="submitted && focus.konteyner.errors" class="invalid-feedback">Konteyner Zorunlu</div>
                </div>
              </div>
               <div class="form-group col">
                <mat-form-field>
                  <mat-label>Cep Telefonu No</mat-label>
                  <input
                    matNativeControl
                    type="text"
                    formControlName="mobil1"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': submitted && focus.mobil1.errors
                    }"
                  />
                  <div
                    *ngIf="submitted && focus.mobil1.errors"
                    class="invalid-feedback"
                  >
                  <div *ngIf="focus.mobil1.errors.required">
                    Cep Telefonu Numarası Zorunlu
                  </div>
                </div>
                </mat-form-field>
              </div>
              <div class="form-group col">
                <mat-form-field>
                  <mat-label>Mail Address</mat-label>
                  <input
                    matNativeControl
                    type="text"
                    formControlName="mail1"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': submitted && focus.mail1.errors
                    }"
                  />
                  <div
                    *ngIf="submitted && focus.mail1.errors"
                    class="invalid-feedback"
                  >
                  <div *ngIf="focus.mail1.errors.required">
                    Mail Adresi Zorunlu
                  </div>
                </div>
                </mat-form-field>
              </div>              
              </div>    
              </mat-tab>
             
            </mat-tab-group>
          </div>
        </mat-card>
        <div class="text-right">
          <button  [disabled]="!isValid ? true : null" class="btn btn-primary mr-1">Kaydet</button>
          <button  [disabled]="!isValid ? true : null" class="btn btn-secondary" type="reset" (click)="onReset()">
            İptal
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
