<div class="page home">
  <div class="container">
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-6">
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="İşlem No" #islemInternalNo />
            </mat-form-field>
            <button
              mat-raised-button
              color="primary"
              type="submit"
              (click)="getBeyanname(islemInternalNo.value)"
            >
              Sorgula
            </button>
          </form>
        </div>
        <mat-card class="mat-card">
          <div class="example-box"> 
            <mat-tab-group >
             <mat-tab>
              <ng-template mat-tab-label>
                <button
                  mat-icon-button
                  [matMenuTriggerFor]="headerMenu"
                  class="header-dropdown-mat-icon-button"
                >
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #headerMenu="matMenu">
                  <button mat-menu-item (click)="yeniBeyanname()">
                    <mat-icon>description</mat-icon>
                    <span>Yeni Beyanname</span>
                  </button>
                  <button mat-menu-item (click)="getBeyannameKopyalama(islemInternalNo.value)">
                    <mat-icon>file_copy</mat-icon>
                    <span>Beyanname Kopyala</span>
                  </button>
                </mat-menu>       
                <mat-cell [style.flex]="'0 0 250px'" *matCellDef="let element">
                </mat-cell>        
            </ng-template>
             </mat-tab> 
              <mat-tab label="Genel Bilgiler"> 
                <mat-form-field>
                  <mat-label>Beyanname No</mat-label>
                  <input matInput  value="_beyanname.beyanInternalNo" readonly>
                </mat-form-field>
            
               
              </mat-tab>
              <mat-tab label="Kalemler"> Content 2 </mat-tab>
              <mat-tab label="Third"> Content 3 </mat-tab>
          
            </mat-tab-group>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
