<div class="row">  
  <div class="card m-3" style="width: 75%;">       
      <h6 class="card-header text-center">Açma Bilgileri</h6>
      <div class="card-body text-center">     
         <mat-form-field class="islem-no">
          <mat-label>Beyanname No</mat-label>
          <input matInput readonly [(ngModel)]="nctsBeyanInternalNo" />
        </mat-form-field>      
        <button
          mat-icon-button
          [matMenuTriggerFor]="beyannameheaderMenu"
          class="header-dropdown-mat-icon-button"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #beyannameheaderMenu="matMenu">
       
          <button
            mat-menu-item
            (click)="getAcmaIslemleri()"
            [disabled]="!BeyanStatu"
          >
            <mat-icon>sync</mat-icon>
            <span>Açma İşlemleri</span>
          </button>
  
      
        </mat-menu>
        <mat-cell [style.flex]="'0 0 250px'" *matCellDef="let element">
        </mat-cell>
        <mat-label>{{ beyanStatu }}</mat-label> 
         <form [formGroup]="acmaForm">
          <mat-card class="mat-card">
            <mat-tab-group>            
               <mat-tab label="Özet Beyan Açmalar">
              
                <form [formGroup]="obAcmaForm" novalidate>
                  <div
                    fxLayout="row"
                    fxLayout.xs="column"
                    fxLayoutWrap
                    fxLayoutGap="3.5%"
                    fxLayoutAlign="left"
                  >
                    <mat-card formArrayName="obArry"
                      ><mat-card-title>Özet Beyan Açma Bilgileri</mat-card-title
                      ><mat-divider></mat-divider>

                      <div
                        *ngFor="
                          let unit of obAcmaBilgileri.controls;
                          let i = index
                        "
                      >
                        <mat-divider
                          *ngIf="obAcmaBilgileri.controls.length > 1 && i > 0"
                        ></mat-divider
                        ><br />

                        <div [formGroupName]="i">
                          <div
                            fxLayout="row"
                            fxLayout.xs="column"
                            fxLayoutWrap
                            fxLayoutGap="3.5%"
                            fxLayoutAlign="center"
                          >
                   
                        <div class="form-group col">
                          <mat-form-field fxFlex="30%">
                            <select
                            matNativeControl
                            placeholder="İşlem Kapsamı"
                            formControlName="islemKapsami"
                          >
                            <option value=""></option>
                            <option value="2">Özet Beyanın Bir Kısmı</option>
                            <option value="3">Taşıma Senedinin Bir Kısmı</option>

                            >
                          </select>
                          </mat-form-field>
                        </div>
                        <div class="form-group col">
                          <mat-form-field fxFlex="30%">
                            <input
                              matNativeControl
                              type="text"
                              placeholder="Özet Beyan No"
                              formControlName="ozetBeyanNo"
                            />
                          </mat-form-field>
                        </div>
                        <div class="form-group col">
                          <mat-form-field fxFlex="30%">
                            <select
                            matNativeControl
                            placeholder="Ambar İçindemi?"
                            formControlName="ambarIci"
                          >
                            <option value=""></option>
                            <option value="EVET">EVET</option>
                            <option value="HAYIR">HAYIR</option>

                            >
                          </select>
                         
                          </mat-form-field>
                        </div>
                        <div class="form-group col">
                          <mat-form-field fxFlex="30%">
                            <input
                              matNativeControl
                              type="text"
                              placeholder="Taşıma Senet No"
                              formControlName="tasimaSenetNo"
                            />
                          </mat-form-field>
                        </div>
                        <div class="form-group col">
                          <mat-form-field fxFlex="30%">
                            <input
                              matNativeControl
                              type="text"
                              placeholder="Ambar Kodu"
                              formControlName="ambarKodu"
                            />
                          </mat-form-field>
                        </div>
                        <div class="form-group col">
                          <mat-form-field fxFlex="30%">
                            <input
                              matNativeControl
                              type="text"
                              placeholder="Taşıma Satır No"
                              formControlName="tasimaSatirNo"
                            />
                          </mat-form-field>
                        </div>
                        <div class="form-group col">
                          <mat-form-field fxFlex="30%">
                            <input
                              matNativeControl
                              type="text"
                              placeholder="Miktar"
                              formControlName="miktar"
                            />
                          </mat-form-field>
                        </div>
                            <button
                              mat-mini-fab
                              color="warn"
                              [disabled]="!acmaForm.valid"
                              (click)="deleteObAcmaField(i)"
                            >
                              <mat-icon>delete forever</mat-icon>
                            </button>
                          </div>
                        </div>
                      </div>

                      <mat-divider></mat-divider
                      ><mat-card-actions
                        ><button
                          [disabled]="!acmaForm.valid"
                          mat-raised-button
                          (click)="addObAcmaField()"
                        >
                          <mat-icon>add box</mat-icon>
                          Özet Beyan Açma Ekle
                        </button></mat-card-actions
                      ></mat-card
                    >
                    <div></div>
                  </div>
                </form>
            
              </mat-tab>                     
              <mat-tab label="Beyanname Açmalar">
              
                <form [formGroup]="abAcmaForm" novalidate>
                  <div
                    fxLayout="row"
                    fxLayout.xs="column"
                    fxLayoutWrap
                    fxLayoutGap="3.5%"
                    fxLayoutAlign="left"
                  >
                    <mat-card formArrayName="abArry"
                      ><mat-card-title>Beyanname Açma Bilgileri</mat-card-title
                      ><mat-divider></mat-divider>

                      <div
                        *ngFor="
                          let unit of abAcmaBilgileri.controls;
                          let i = index
                        "
                      >
                        <mat-divider
                          *ngIf="abAcmaBilgileri.controls.length > 1 && i > 0"
                        ></mat-divider
                        ><br />

                        <div [formGroupName]="i">
                          <div
                            fxLayout="row"
                            fxLayout.xs="column"
                            fxLayoutWrap
                            fxLayoutGap="3.5%"
                            fxLayoutAlign="center"
                          >
                   
                        <div class="form-group col">
                          <mat-form-field fxFlex="30%">
                            <input
                              matNativeControl
                              type="text"
                              placeholder="Beyanname No"
                              formControlName="beyannameNo"
                            />
                          </mat-form-field>
                        </div>
                        <div class="form-group col">
                          <mat-form-field fxFlex="30%">
                            <input
                              matNativeControl
                              type="text"
                              placeholder="Beyanname Kalem No"
                              formControlName="acilanKalemNo"
                            />
                          </mat-form-field>
                        </div>
                        <div class="form-group col">
                          <mat-form-field fxFlex="30%">
                            <select
                            matNativeControl
                            placeholder="Ncts Ait Old.Kalem No"
                            formControlName="kalemNo"                            
                          >
                            <option *ngFor="let f of kalemler" [value]="f">{{
                              f
                            }}</option>
                          </select>
                          
                          </mat-form-field>
                        </div>
                        <div class="form-group col">
                          <mat-form-field fxFlex="30%">
                            <input
                              matNativeControl
                              type="text"
                              placeholder="Miktar"
                              formControlName="miktar"
                            />
                          </mat-form-field>
                        </div>
                        <div class="form-group col">
                          <mat-form-field fxFlex="30%">
                            <input
                              matNativeControl
                              type="text"
                              placeholder="Açıklama"
                              formControlName="aciklama"
                            />
                          </mat-form-field>
                        </div>
                        <div class="form-group col">
                          <mat-form-field fxFlex="30%">
                            <input
                              matNativeControl
                              type="text"
                              placeholder="Kıymet"
                              formControlName="kiymet"
                            />
                          </mat-form-field>
                        </div>
                        <div class="form-group col">
                        <mat-form-field fxFlex="10%">
                          <select
                            matNativeControl
                            placeholder="Döviz Birimi"
                            formControlName="dovizCinsi"
                          >
                            <option
                              *ngFor="let s of _dovizList"
                              [value]="s.kod"
                              >{{ s.kod }} {{s.aciklama}}</option
                            >
                          </select>
                        </mat-form-field>
                        </div>
                        <div class="form-group col">
                          <mat-form-field fxFlex="10%">
                            <select
                              matNativeControl
                              placeholder="Ticaret Ülkesi"
                              formControlName="ticaretUlkesi"
                            >
                              <option
                                *ngFor="let s of _ulkeList"
                                [value]="s.kod"
                                >{{ s.kod }} {{s.aciklama}}</option
                              >
                            </select>
                          </mat-form-field>
                          </div>
                          <div class="form-group col">
                            <mat-form-field fxFlex="10%">
                              <select
                                matNativeControl
                                placeholder="Teslim Şekli"
                                formControlName="teslimSekli"
                              >
                                <option
                                  *ngFor="let s of _teslimSekliList"
                                  [value]="s.kod"
                                  >{{ s.kod }} {{s.aciklama}}</option
                                >
                              </select>
                            </mat-form-field>
                            </div>
                            <div class="form-group col">
                              <mat-form-field fxFlex="10%">
                                <select
                                  matNativeControl
                                  placeholder="İşlemin Niteliği"
                                  formControlName="isleminNiteligi"
                                >
                                  <option
                                    *ngFor="let s of _isleminNiteligiList"
                                    [value]="s.kod"
                                    >{{ s.kod }} {{s.aciklama}}</option
                                  >
                                </select>
                              </mat-form-field>
                              </div>
                              <div class="form-group col">
                                <mat-form-field fxFlex="10%">
                                  <select
                                    matNativeControl
                                    placeholder="Ödeme Şekli"
                                    formControlName="odemeSekli"
                                  >
                                    <option
                                      *ngFor="let s of _odemeList"
                                      [value]="s.kod"
                                      >{{ s.kod }} {{s.aciklama}}</option
                                    >
                                  </select>
                                </mat-form-field>
                                </div>
                            <button
                              mat-mini-fab
                              color="warn"
                              [disabled]="!acmaForm.valid"
                              (click)="deletebAcmaField(i)"
                            >
                              <mat-icon>delete forever</mat-icon>
                            </button>
                          </div>
                        </div>
                      </div>

                      <mat-divider></mat-divider
                      ><mat-card-actions
                        ><button
                          [disabled]="!acmaForm.valid"
                          mat-raised-button
                          (click)="addabAcmaField()"
                        >
                          <mat-icon>add box</mat-icon>
                          Beyanname Açma Ekle
                        </button></mat-card-actions
                      ></mat-card
                    >
                    <div></div>
                  </div>
                </form>
            
              </mat-tab> 
            </mat-tab-group>
          </mat-card>
          <div class="text-right">
               
            <button
              [disabled]="
                !(
                  acmaForm.valid && obAcmaBilgileri.valid && abAcmaBilgileri.valid                 
                )
              "class="btn btn-primary mr-1"
              (click)="onacmaFormSubmit()"
            >
              Kaydet
            </button>
            
          </div>
        </form> 
    
      </div>
  </div>   
</div>




